/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
	
	body {
		color: #fff;
		background: #344048 url('../images/bg_pat.png');
	}
	
	#main {
		margin: 100px auto 0;
		width: 720px;
	}
	
	h1 {
		margin-bottom: 10px;
		background: url('../images/logo.png');
	}
	
	  h1 a {
		width: 230px;
		height: 59px;
		display: block;
	  }
	
	section {
		padding: 15px;
		width: 50%;
		height: 233px;
		font-size: 1.4em;
		font-family: 'UbuntuRegular', 'Calibri', 'Arial';
		float: left;
		
		text-shadow: 1px 1px #000;
		
		-webkit-box-shadow: 0 1px 1px #000;
		-moz-box-shadow: 0 1px 1px #000;
		box-shadow: 0 0 2px 0 #000;
	}
	
	  h2 {
		margin-bottom: 10px;
		font-family: 'Museo500', Serif;
		font-size: 2.1em;
	  }
	
	form {
		padding: 15px 10px;
		width: 43%;
		height: 233px;
		background: rgba(0,0,0,0.5);
		float: right;
		position: relative;
		
		-webkit-box-shadow: 0 1px 1px #000;
		-moz-box-shadow: 0 1px 1px #000;
		box-shadow: 0 0 2px 0 #000;
		
		-webkit-border-radius: 0 5px 5px 0;
		-khtml-border-radius: 0 5px 5px 0;
		-moz-border-radius: 0 5px 5px 0;
		-o-border-radius: 0 5px 5px 0;
		border-radius: 0 5px 5px 0;
	}
	
	em {
		font-size: 1.2em;
		font-weight: bolder;
		font-style: normal;
	}
	
	#signup {
		width: 100%;
		height: 100px;
		display: block;
		text-decoration: none;
		text-shadow: 1px 1px 2px #55637b;
		text-align: center;
		color: #fff;
		font-weight: normal !important;
		font-size: 1.4em;
		
		background: #cfe7fa; /* Old browsers */
		background: -moz-linear-gradient(top, #cfe7fa 0%, #6393c1 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* W3C */
	}
	
	  #signup h2 {
		padding: 23px 0 0;
		font-weight: normal !important;
	  }
	
	#signup:hover {
		background: #d7f1fb; /* Old browsers */
		background: -moz-linear-gradient(top, #d7f1fb 0%, #80b5cc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7f1fb), color-stop(100%,#80b5cc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #d7f1fb 0%,#80b5cc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #d7f1fb 0%,#80b5cc 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #d7f1fb 0%,#80b5cc 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7f1fb', endColorstr='#80b5cc',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #d7f1fb 0%,#80b5cc 100%); /* W3C */
	}
	
	#signup:active {
		background: #80b5cc; /* Old browsers */
		background: -moz-linear-gradient(top, #80b5cc 0%, #d7f1fb 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80b5cc), color-stop(100%,#d7f1fb)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #80b5cc 0%,#d7f1fb 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #80b5cc 0%,#d7f1fb 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #80b5cc 0%,#d7f1fb 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80b5cc', endColorstr='#d7f1fb',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #80b5cc 0%,#d7f1fb 100%); /* W3C */
	}
	
	h3 {
		margin-top: 15px;
		font-family: 'Museo500', Serif;
		font-weight: normal;
		font-variant: small-caps;
		font-size: 1.8em;
	}
	
	input[type=text], input[type=password] {
		margin-right: 7px;
		padding-left: 10px;
		width: 117px;
		height: 30px;
		border: 0;
		font-weight: bold;
		font-size: 1.1em;
		color: #aeaeae;
		
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		-moz-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		
		-webkit-box-shadow: 0 2px 0 1px  #cbcbcb;
		-moz-box-shadow: 0 2px 0 1px  #cbcbcb;
		box-shadow: 0 2px 0 1px  #cbcbcb;
		
		background: #d6dbbf; /* Old browsers */
		background: -moz-linear-gradient(top, #d6dbbf 0%, #feffe8 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6dbbf), color-stop(100%,#feffe8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #d6dbbf 0%,#feffe8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #d6dbbf 0%,#feffe8 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #d6dbbf 0%,#feffe8 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6dbbf', endColorstr='#feffe8',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #d6dbbf 0%,#feffe8 100%); /* W3C */
	}
	
	#submit {
		margin-left: 3px;
		width: 35px;
		height: 35px;
		border: 0;
		position: absolute;
		
		-webkit-box-shadow: 0 2px 0 1px #212837;
		-moz-box-shadow: 0 2px 0 1px #212837;
		box-shadow: 0 2px 0 1px #212837;
	}
	
		#submit:active {
			margin-top: 2px;
			border: 0;
			
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
		
		#submit img {
			margin: 5px 0 0 5px;
		}
	
	#forgot {
		margin: 8px 0 10px;
		display: block;
		color: #fff;
		text-decoration: none;
		text-align: right;
	}
	
	  #forgot:hover {
		color: #d6dbbf;
	  }
	
	form ul {
		margin: 0; padding: 5px 0 0;
		border-top: 1px dashed #505356;
		list-style: none;
	}
	
	  form ul li {
		display: inline-block;
	  }
	  
	  form ul li a {
		height: 22px;
	  }
	  
	  #fb {
		width: 154px;
		background: no-repeat url('../images/fb-login-button.png');
	  }
	  
	  #twitter {
		width: 150px;
		background: no-repeat url('../images/login-with-twitter.png');
	  }
	
	
	footer {
		margin-top: 5px;
		font-variant: small-caps;
		text-shadow: 1px 1px 1px #000;
	}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 



}