body {
	margin: 15px auto;
	width: 716px;
	min-width: 0;
	background: #344c85 url('../images/bg_pat.png');
}

header a {
    margin-bottom: 10px;
	display: block;
    text-decoration: none;
}

header a img {
	width: 63px;
	height: 63px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

header h1{
	margin-left: 10px;
	padding-top: 10px;
    font-family: Museo500, serif;
    font-size: 3em;
    font-weight: normal;
    color: #fff !important;
    display: block;
}

header > img {
	margin-bottom: 10px;
	border: 1px solid #fff;
}
  
aside, section {
	float: left;
}
  
aside {
	width: 100px;
}

	aside li{
		opacity: 0.4;
        position: relative;
		border-bottom: 1px dashed #fff;
		background: #000 no-repeat url('../images/invite-sprite.png');
	}
	
	.stepsave{ background-position: center 10px;} 
	.stepsay{ background-position: center -109px;} 
	.stepshare{ background-position: 24px -219px; } 

	
	aside li.active {
		background-color: #fff;
		opacity: 1;
	}
	
	aside li.active  a{
		color: #484848 !important;
	}
	
	aside li:hover {
		opacity: 1;
	}
	
	aside li a {
		padding: 75px 0 10px;
		display: block;
		color: #fff !important;
		text-decoration: none;
		text-align: center;
		font-family: Museo500, serif;
		font-weight: bold;
	}
    
    aside li span {
        margin-left: -21px;
        padding: 15px 7px;
        position: absolute;
        background: #000;
        color: #fff;
    }
	
    
    aside li.active span {
        background: #fff;
        color: #000;
        font-weight: bold;
    }
	
section {
	width: 576px;
    min-height: 266px;
	padding: 20px;
	font-size: 14px;
	font: arial,sans-serif;
	background: #fff;
	
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

  section .edit-cntrl {
	top: 10px;
	right: 10px;
  }
  
  section h1, section h2, section h3 {
	font-weight: normal;
	margin: 15px 0 5px;
	line-height: 140%;
  }
  
  .title {
	font-size: 2em;
	margin-bottom: 10px;
	border-bottom: 1px solid #f3f3f3;
  }
  
  .title p {
    font-size: 0.6em;
    display: block;
    font-weight: bold;
  }
  
  .title p em {
    color: #567cd4;
  }
  
  section h1 {
	font-size: 1.7em;
  }
  
  section h2 {
	font-size: 1.6em;
  }
  
  section h3 {
	font-size: 1.3em;
  }
  
  section p {
	margin-bottom: 5px;
  }
  
  section li {
	margin-bottom: 5px;
  }
  
  section .button {
    margin-top: 10px;
  }

article {
	padding: 0 10px 10px;
	width: 288px;
	float: left;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
form {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

form h2 {
	margin-top: 0;
}

article.left{
	border-right: 1px solid #ccc;
}

form.login > a {
	margin-top: 15px;
	text-decoration: none;
}

form .button {
	margin-right: 0 !important;
	float: right !important;
}

label[for=remember-me] {
	display: block;
}

input[type="checkbox"] {
	vertical-align: middle !important;
}

input[type=text], input[type=password] {
	margin: 0 0 10px;
    padding: 10px;
	width: 100%;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul.social-login {
	margin: 0 0 5px;
	padding: 0 0 5px;
	list-style: none;
	border-bottom: 1px solid #ccc;
}

ul.social-login li {
	width: 100%;
	margin-bottom: 5px;
	text-align: right;
}

li.fb-login  a, li.tt-login  a {
	display: block;
	text-decoration: none;
}

li.fb-login  a{
	color: #fff !important;
}

li.tt-login  a{
	color: #4a80a9 !important;
}

li.fb-login, li.tt-login {
	background-image: url("../images/login-sprite.png");
	background-repeat: no-repeat;
	padding: 8px;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	
	box-shadow: inset 0 0 1px #fff;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li.fb-login {
	background-color: #6172a9;
	background-position: 0 5px;
	border: 1px solid #32437f;
}

li.tt-login {
	background-color: #8ce2e6;
	background-position: 0 -77px;
	border: 1px solid #26b1dc;
}

a.skip {
	position: absolute;
	top: 10px;
	right: 10px;
}

ul.share-bt {
	margin: 30px auto 0;
    width: 257px;
	list-style: none;
}

ul.share-bt  li {
	display: inline-block;
	width: 49%;
}

ul.share-bt li a {
	display: block;
	background: url(../images/share-sprite.png) no-repeat;
}

.share-delicious{ background-position: 0 0 !important; width: 122px; height: 42px; } 
.share-digg{ background-position: 0 -92px !important; width: 122px; height: 42px; } 
.share-facebook{ background-position: 0 -184px !important; width: 122px; height: 42px; } 
.share-tumblr{ background-position: 0 -276px !important; width: 122px; height: 42px; } 
.share-twitter{ background-position: 0 -368px !important; width: 122px; height: 42px; } 
.share-wordpress{ background-position: 0 -460px !important; width: 122px; height: 42px; } 