%select.privacy_control{ :data => {:url => toggle_privacy_path(object_type(object), object.id)} }
  - if object.is_private?
    %option{ :selected => "selected" } Private
    %option Public
  - else 
    %option Private
    %option{ :selected => "selected" } Public
