%select.privacy_control{ :data => {:url => url_for("/privacy/toggle/item/" + object.id.to_s)}}
  - if object.is_private?
    %option{ :selected => "selected" } Private
    %option Public
  - else 
    %option Private
    %option{ :selected => "selected" } Public
