tags
*secret-credentials*
log/*.log  
*.swp
*.swo
.sass-cache
*~
*.cache
*.log
*.pid
.idea
tmp/**/*
db/data.yml
db/*.sqlite3
vendor/bundle
public/uploads
*live.js
nbproject/*
nbproject/**/*
.DS_Store
pivotal/*
Gemfile
Gemfile.lock
config/database.yml
