.mailer-teplate{:style => "margin: 0 auto; width: 500px; border: 1px dashed #a0c5db; color: #255672; font-family: Arial;"}
  #main{:style => "background: #e3f5ff; border: 10px solid #fff; padding: 10px;"}
    #header
      Hi 
      %span{:style=>"text-transform: capitalize;"} Customer Name,
      %br
      You are invited to review PRODUCT NAME by COMPANY NAME
  
    .mail-content= @mail_template.mail_content.to_s.html_safe
    .mail-links
      = link_to "give feedback","",:onclick=>"return false;", :style => "color: #fff; display: block; width: 98%; background: #3892c5; text-decoration: none; padding: 2px; text-align: center; font-variant: small-caps; font-size: 1.1em;"