- content_for :javascripts do
  = javascript_include_tag 'ckeditor/ckeditor.js'

  :javascript

    $(document).ready(function() {
      var editor;

      function showEditor(){
        editor = CKEDITOR.replace('#{field}',{
          customConfig: '/javascripts/ckeditor_custom/item_review_config.js' 
        });
      }

      $('#edit-review-link').click(function(){
        showEditor();
        $('#rendered-review').hide();
        $('#review-editor').show();
      });


      $('form.edit_item').live('ajax:success', function(event, data, status, xhr){
        var editor_data = CKEDITOR.instances.item_review.getData();
        $('#rendered-review').html(editor_data);
        $('#rendered-review').show();
        $('form.edit_item textarea').val(editor_data);
        $('#review-editor').hide();
        editor.destroy();
      });
    });
