
%h1 Product Invitations

%table
  %thead
    %tr
      %th Invitation Name
      %th
      %th
  %tbody
    - @prizzm_invitations.each do |prizzm_invitation|
      %tr
        %td= link_to prizzm_invitation.name, prizzm_invitation
        %td= link_to 'Edit', edit_prizzm_invitation_path(prizzm_invitation)
        %td= link_to 'Destroy', prizzm_invitation, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Create an Invitation', new_prizzm_invitation_path, :class => 'btn success large'
