body {
	background: #fff;
}

#prizzmbar {
    height: 43px;
    background: #344c85 url('../images/bg_pat.png');
}

#hbar {
	height: 53px;
	background: #f3f3f3;
}

#container {
	margin-top: -95px;
}

header {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

  header a, footer a {
	text-decoration: none;
  }

#container > header {
	height: 42px;
}

  #container > header h1 a {
	padding: 7px 0 0 30px;
    font-family: Museo500, serif;
    font-size: 1.7em;
    font-weight: normal;
    color: #fff;
    display: block;
	font-variant: small-caps;
    background: no-repeat url('../images/s-logo.png') 0 6px;
  }
  
  #container > header nav li {
	display: inline-block;
  }
  
  #container > header nav a {
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	padding: 12px 5px;
	display: block;
  }
  
  #container > header nav a:hover {
	background: #283a64;
  }
  
  
  form.search {
	margin-top: 5px;
	position: relative;
  }
  
    form.search input[type=text] {
		padding: 7px;
		width: 100%;
		font-size: 1em;
		color: #b8b8b8;
		border: 1px solid #283a64;
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	form.search input[type=submit] {
		width: 22px;
		height: 24px;
		border-left: solid #d6d6d6;
		border-width: 0 0 0 1px;
		background: no-repeat url('../images/s-mag.png') right;
		position: absolute;
		right: 8px;
		top: 4px;
	}

#main > header {
	margin-bottom: 10px;
	padding-top: 13px;
	height: 53px;
}
  
  #main > header h2 {
	font-size: 1.8em;
	font-weight: normal;
  }
  
  #main .buttons {
	float: right;
  }	


  
section h3 {
	font-size: 1.5em;
} 
 
section h3 span {
	background: #fff;
}

#helptool {
	margin: 0 0 10px;
	position: relative;
	background: #cfe1f1;
	border: 1px solid #b4cce2;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

  #helptool .close {
    top: 5px;
    right: 5px;
    visibility: hidden;
  }
  
  #helptool:hover .close {
	  visibility: visible;
  }
  
  #helptool ul {
    margin: 0;
    list-style: none;
  }
  
    #helptool li {
      float: left;
      vertical-align: top;
      width: 33.33%;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
	  }

    #helptool li:hover {
      background: #e9f0f6;
    }

    #helptool li:first-child {
      -moz-border-radius: 3px 0 0 3px;
      border-right: 1px solid #B4CCE2;
    }

    #helptool li:last-child {
      -moz-border-radius: 0 3px 3px 0;
      border-left: 1px solid #B4CCE2;
    }   

    #helptool li a {
      color: #444444 !important;
      display: block;
      min-height: 100px;
      padding: 10px;
      text-decoration: none;
    }

    #helptool li a:hover {
      color: #607890 !important;
      -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }   
	
  #helptool h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
  }

#content {
	min-height: 500px;
}

  #content section {
	margin-bottom: 15px;
  }

aside a.fr {
	text-decoration: none;
}

.small {
	font-size: 0.8em;
}
  
aside article {
	margin-bottom: 25px;
}

aside h4 {
	padding-bottom: 3px;
}

aside .table {
	width: 100%;
}

aside .row {
	margin-bottom: 10px;
	display: block;
}

aside .cell.right {
	padding-left: 5px;
}

ul.sharebts {
	margin: 0;
	list-style: none;
}

ul.sharebts li {
	display: inline-block;
}

.sharebt {
	text-align: center;
	position: relative;
	padding:3px 20px 3px 7px;
	color: white!important;
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
	-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

  .sharebt .close {
    top: 4px;
    right: 2px;
    opacity: 0.3;
    background: url('../images/lt-close.png');
  }
  
  .sharebt .close:hover {
	opacity: 1;
  }

.sharebt.fb {
	border: 1px solid #314A7E;
	background: #537CD6;
	background: -moz-linear-gradient(top,#537CD6 0,#4365AD 44%,#3B5998 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#537CD6),color-stop(44%,#4365AD),color-stop(100%,#3B5998));
	background: -webkit-linear-gradient(top,#537CD6 0,#4365AD 44%,#3B5998 100%);
	background: -o-linear-gradient(top,#537CD6 0,#4365AD 44%,#3B5998 100%);
	background: -ms-linear-gradient(top,#537CD6 0,#4365AD 44%,#3B5998 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#537cd6',endColorstr='#3b5998',GradientType=0);
	background: linear-gradient(top,#537CD6 0,#4365AD 44%,#3B5998 100%);
}

.sharebt.twitter {
	border: 1px solid #1C84A4;
	background: #00B7EA;
	background: -moz-linear-gradient(top,#00B7EA 0,#209CC2 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00B7EA),color-stop(100%,#209CC2));
	background: -webkit-linear-gradient(top,#00B7EA 0,#209CC2 100%);
	background: -o-linear-gradient(top,#00B7EA 0,#209CC2 100%);
	background: -ms-linear-gradient(top,#00B7EA 0,#209CC2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea',endColorstr='#209cc2',GradientType=0);
	background: linear-gradient(top,#00B7EA 0,#209CC2 100%);
}
