body {
	background: #fff;
}

#prizzmbar {
  height: 43px;
  background: #313131;
  -webkit-box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

#container {
	padding-top: 52px;
	margin-bottom: 30px;
}

header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  header a, footer a {
		text-decoration: none;
  }

#prizzmbar {
  margin-bottom: 10px;
	height: 41px;
	position: fixed;
	z-index: 9999;
	width: 100%;
}

  #prizzmbar h1 a {
    padding: 7px 0 0 30px;
    font-family: Museo500, serif;
    font-size: 1.7em;
    font-weight: normal;
    color: #fff;
    display: block;
    font-variant: small-caps;
    background: no-repeat url('../images/s-logo.png') 0 6px;
  }
  
  .usernotif {
    margin: 10px 0 0 10px;
    padding: 2px 5px;
    background: #61a5d6;
    color: #fff !important;
    min-width: 15px;
    text-align: center;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  #prizzmbar nav {
    text-align: right;
  }
  
  #prizzmbar nav > ul > li{
    display: inline-block;
    position: relative;
  }
  
  #prizzmbar nav > ul > li:hover {
  		background: rgba(255,255,255,0.1);
  }
  
  #prizzmbar nav > ul > li > a {
  	padding: 13px 10px;
  }
  
  li.account a {
    padding: 13px 18px 13px 12px !important;
    display: block;	
  }
  
  li.account:hover {
    background: #fff !important;
  }
  
  li.account:hover a {
    color: #283a64 !important;
  }
  
  li.account small {
  	top: 16px;
  	right: 6px;
  	position: absolute; 
  }
  
  #prizzmbar nav li.account:hover .subnav {
    visibility: visible;
  }
  
  #prizzmbar nav a {
    color: #fff;
    font-size: 1em;
    display: block;
  }
  
  li.addItem {
    padding-right: 10px;
  }
  
  li.addItem  a:hover {
    text-decoration: underline;
  }

  ul.subnav{
    min-width: 200px;
    position: absolute;
    background: #fff;
    right: -1px;
    z-index: 50;
    text-align: left;
    visibility: hidden;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #4e4e4e;
    top: 41px;
  }
  
  ul.subnav li {
    display: block !important;
  }
  
  ul.subnav a {
    padding: 5px !important;
    color: #37508b !important;
    font-size: 1em !important;
    font-weight: normal !important;
  }
  
  ul.subnav a:hover {
    color: #fff !important;
    background: #37508b;
  }
  
  ul.subnav img {
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
  
  ul.subnav li.user {
    margin: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
  }
  
  ul.subnav li.user a.username {
    color: #4d4d4d !important;
    font-weight: bold !important;
    text-decoration: none;
    cursor: pointer;
  }
  
  ul.subnav li.user a {
    text-decoration: underline;
  }
  
  ul.subnav li.user a:hover {
    background: none;
    color: #496bb9 !important;
  }
  
  form.search {
	margin-top: 5px;
	margin-right: 0;
	position: relative;
  }
  
    form.search input[type=text] {
		padding: 7px;
		width: 100%;
		font-size: 1em;
		color: #b8b8b8;
		border: 1px solid #283a64;
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	form.search input[type=submit] {
		width: 22px;
		height: 24px;
		border-left: solid #d6d6d6;
		border-width: 0 0 0 1px;
		background: no-repeat url('../images/s-mag.png') right;
		position: absolute;
		right: 8px;
		top: 4px;
	}

#main > header {
	margin-bottom: 10px;
	height: 100pxpx;
}
  
  #main > header h2 {
	font-size: 1.8em;
	font-weight: normal;
  }
  
  #main .buttons {
	float: right;
  }
  

section h3 {
	font-size: 1.5em;
} 
 
section h3 span {
	background: #fff;
}

  #content section {
	margin-bottom: 15px;
  }
  
  #content header h1 {
    margin-top: 7px;
    display: inline-block;
    font-size: 1.2em;
  }

  #content header .buttons {
    margin-bottom: 10px;
  }

aside a.fr {
	text-decoration: none;
}

.small {
	font-size: 0.8em;
}
  
aside article {
	margin-bottom: 25px;
}

aside h4 {
	padding-bottom: 3px;
}

aside .table {
	width: 100%;
}

aside .row {
	margin-bottom: 10px;
	display: block;
}

aside .cell.right {
	padding-left: 5px;
}

ul.sharebts {
	margin: 0;
	list-style: none;
}

ul.sharebts li {
	display: inline-block;
}

.sharebt {
	text-align: center;
	position: relative;
	padding:3px 20px 3px 7px;
	color: white!important;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: 0.7;
	cursor: pointer;	
}
	
	.sharebt .close {
		visibility: hidden;
	}
	
  .sharebts .active .close {
    top: 4px;
    right: 2px;
    opacity: 0.3;
    background: url('../images/lt-close.png');
    visibility: visible !important;
  }
  
  .sharebt .active .close:hover {
	  opacity: 1;
  }

.sharebt.fb {
	border: 1px solid #314A7E;
	background: #537CD6;
}

  .sharebt.fb.active {
  	background: #537CD6;
		background: -moz-linear-gradient(top,#537CD6 0,#4365AD 44%,#3B5998 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#537CD6),color-stop(44%,#4365AD),color-stop(100%,#3B5998));
		background: -webkit-linear-gradient(top,#537CD6 0,#4365AD 44%,#3B5998 100%);
		background: -o-linear-gradient(top,#537CD6 0,#4365AD 44%,#3B5998 100%);
		background: -ms-linear-gradient(top,#537CD6 0,#4365AD 44%,#3B5998 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#537cd6',endColorstr='#3b5998',GradientType=0);
		background: linear-gradient(top,#537CD6 0,#4365AD 44%,#3B5998 100%);
		-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
		-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
		box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
		opacity: 1 !important;
  }

.sharebt.twitter {
	border: 1px solid #1C84A4;
	background: #00B7EA;
}

  .sharebt.twitter.active {
  	background: #00B7EA;
  	background: -moz-linear-gradient(top,#00B7EA 0,#209CC2 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00B7EA),color-stop(100%,#209CC2));
		background: -webkit-linear-gradient(top,#00B7EA 0,#209CC2 100%);
		background: -o-linear-gradient(top,#00B7EA 0,#209CC2 100%);
		background: -ms-linear-gradient(top,#00B7EA 0,#209CC2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea',endColorstr='#209cc2',GradientType=0);
		background: linear-gradient(top,#00B7EA 0,#209CC2 100%);
		-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
		-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
		box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
		opacity: 1 !important;
  }


form input[type=text] {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  color: #aeaeae;
  font-size: 1.1em;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

aside a, aside a:active, aside a:visited { color: #5d5d5d !important; text-decoration: none; }
aside a:hover { color: #5d5d5d !important; }
aside a.active { color: #d14836 !important; font-weight: bold;}

aside > nav > a {
  margin-bottom: 10px;
  display: block;
}

aside nav ul{
  padding-top: 10px;
  border-top: 1px solid #f3f3f3;
}

  aside  nav li{
    margin-bottom: 10px;
  }
  
  aside .userbit {
    padding-bottom: 10px;
  }
  
  aside .userbit .fr{
    width: 64%;
  }
  
  aside .userbit .fr a {
    display: block;
    color: #3c6cdc !important;
    text-decoration: underline;
  }
  
  aside .userbit a.uname {
    margin-bottom: 5px;
    color: #5d5d5d !important;
    font-weight: bold;
    text-decoration: none;
  }
  
ul, .product ul, .usergal, aside ul {
  margin: 0 !important;
  list-style: none !important;
}

ul.data-list {
	margin: 0;
	list-style: none;
  width: 100%;
}

ul.data-list li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.timebit {
	color: #ccc;
}

ul.data-list {
  padding-top: 10px;
  width: 100%;
  border-top: 1px solid #F3F3F3;
}

ul.data-list {
  padding-top: 3px !important;
}

ul.data-list .row.header .cell {
  border-bottom: 1px solid #F3F3F3;
}

ul.data-list .cell{
	margin: 0 5px 10px 0;
  padding: 5px;
	position: relative;
   
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul.data-list .cell {
  border-bottom: 1px dotted #ccc;
}

ul.data-list .cell .button {
	float:right;
}

.collapse-comm {
  padding: 3px 0 5px;
  border-top: 1px dashed #ccc;
  text-align: center;
  background: #f3f3f3;
  font-variant: small-caps;
  color: #c5c5c5 !important;
  display: block;
  text-decoration: none !important;
}
  .comms li {
    display: block;
    border-top: 1px dashed #CCC;
  }

  .comms .cell {
  	padding: 10px 0;
    float: left;
  }

  .comms .cell.img {
    width: 9%;
    vertical-align: top;
  }
  
    .comms .cell.img img {
    	width: 40px;
    	height: 40px;
    }

  .comms .cell.cont {
    width: 91%;
  }
  
  .comms .comm-ft {
    display: block;
		margin-top: 5px;
		color: #c8c7c7;
		font-size: 0.9em;
  }
  
    .comms .comm-ft a{
      font-variant: small-caps;
    }

  .comms .reply {
    width: 94%;
    margin-left: 40px !important;
  }
  
  .comm.del .cell{
  	display: none;
  }
    
.in-comm {
  margin-top: 5px;
  padding-top: 5px;
}
  
  .in-comm textarea {
    padding: 5px;
    max-width: 464px;
    min-width: 100%;
    border: 1px solid #ccc;
    color: #a7a7a7;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .in-comm .button {
    margin: 5px 0 0 5px !important;
    float: right !important;
  }
  
  form .sharebts {
    margin: 5px 0 !important;
    padding: 5px;
    border: 1px solid #ccc;
    color: #a7a7a7;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
