#action-button {
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
	display: block;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.3em;
	font-variant: small-caps;
	text-align: center;
	
	border: 1px solid #81AD62;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	background: #a9db80; /* Old browsers */
background: -moz-linear-gradient(top, #a9db80 0%, #96c56f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(100%,#96c56f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #a9db80 0%,#96c56f 100%); /* W3C */
}

  #action-button:hover {
	background: #a0d773; /* Old browsers */
background: -moz-linear-gradient(top, #a0d773 0%, #8dc163 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0d773), color-stop(100%,#8dc163)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a0d773 0%,#8dc163 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a0d773 0%,#8dc163 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #a0d773 0%,#8dc163 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d773', endColorstr='#8dc163',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #a0d773 0%,#8dc163 100%); /* W3C */
  }
        
		  #own .cell > a {
			margin-right: 10px;
			float: left;
		  }
		
		  article header a {
			color: #9d9d9d !important;
			text-decoration: none;
			padding: 3px;
		  }
		  
		  article header a.active, article header a:hover{
			color: #fff !important;
			background: rgba(0,0,0,0.2);
			
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		  }
		  
		  article header .addItem{
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			
			background: #a9db80; /* Old browsers */
			background: -moz-linear-gradient(top, #a9db80 0%, #96c56f 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(100%,#96c56f)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Opera11.10+ */
			background: -ms-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* IE10+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
			background: linear-gradient(top, #a9db80 0%,#96c56f 100%); /* W3C */
		  }
		  
		  article header .addItem  a {
			color: #fff !important;
			padding: 3px 8px 3px 24px;
			display: block;
			background: no-repeat url('../images/add.png') 3px 3px;
		  }
		
		article h2 a {
			font-size: 1.1em;
            color: #555555 !important;
            text-decoration: none !important;
		}
        
          article h2 a:hover {
            text-decoration: underline !important;
          }
		
		article ul, .yui3-aclist-list ul{
			list-style: none;
		}
		
	    article li, .yui3-aclist-list li{
			display: inline-block;
		}
		
		article header ul, .yui3-aclist-list ul {
			margin: 0;
			padding: 4px 0 0;
			float: right;
		}
		
		article div.table, .yui3-aclist-list div.table{
			width: 100%;
            border-width: 0 1px 1px;
            border-style: solid;
			border-color: #fff;
			
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		
		article img, .yui3-aclist-list img {
			width: 55px;
			height: 55px;
			border: 1px solid #dfdfdf;
		}
		
            article .cell.img{
                width: 55px;
            }
        
		article .table ul, .yui3-aclist-list .table ul {
			margin: 0;
			float: left;
		}
		
		article .cell, .yui3-aclist-list .cell {
			padding: 5px;
		}
		
		article .row:hover, .yui3-aclist-item-active, .yui3-aclist-item-hover {
			background: #f3f3f3 !important;
		}
		
		article .row:hover .cancel {
			visibility: visible;
		}
		
		article .button, .yui3-aclist-list .button {
			margin-right: 0 !important;
			float: right !important;
		}

.cell.delete-item {
	width: 16px;
	padding: 0;
}

.cancel {
	visibility: hidden;
	margin-right: 5px !important;
}
