#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.2);
  -moz-box-shadow:0 0 10px rgba(0,0,0,0.2);
  box-shadow:0 0 10px rgba(0,0,0,0.2);
}


#facebox .popup{
  position:relative;
  width: 500px;
  
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.6);
  box-shadow:0 0 18px rgba(0,0,0,0.6);
}

#facebox .content {
  display:table;
  width: 500px;
  padding: 20px;
  margin: 0;
  background: #fff;
  border: 1px solid #999;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .popup > .close {
  background-image: none;
  top: 8px;
  right: 8px;
}

  #facebox .popup > .close img {
    opacity:0.3;
  }

  #facebox .popup > .close:hover img {
   opacity:1.0;
  }

#facebox .popup .content > .loading {
  margin-top: 10px;
  text-align: center;
}

  #facebox .loading img {
    display: none;
  }

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox h1 {
	line-height: 140%;
	font: normal 20px arial,sans-serif;
	padding-bottom: 5px;
	border-bottom: 1px solid #e7e7e7;
}

#facebox label {
	position: initial;
	padding: 0;
}
