#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.2);
  -moz-box-shadow:0 0 10px rgba(0,0,0,0.2);
  box-shadow:0 0 10px rgba(0,0,0,0.2);
}


#facebox .popup{
  position:relative;
  width: 500px;
  
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.6);
  box-shadow:0 0 18px rgba(0,0,0,0.6);
}

#facebox .content {
  display:table;
  width: 500px;
  padding: 20px;
  background: #fff;
  border: 1px solid #999;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .popup > .close {
  background-image: none;
}

#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  margin-top: 10px;
  text-align: center;
}

  #facebox .loading img {
    display: none;
  }


#facebox .image {
  text-align: center;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox textarea, #facebox input[type=text], #item_possession_status, #facebox input[type=email], #facebox input[type=password], #facebox input[type=tel]{
	margin-bottom: 3px;
	padding: 10px;
	border: 1px solid #e7e7e7;
	font-size: 1.1em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
  #facebox textarea {
	max-height: 150px;
  }


#facebox h1 {
	line-height: 140%;
	font: normal 20px arial,sans-serif;
}

#facebox form {
	margin: 15px 0;
}

#facebox ul.social {
	list-style: none;
	padding: 5px;
	width: 98%;
	background: #fff;
	border: 1px solid #e7e7e7;
}

#facebox ul.social li {
	display: inline-block;
}

#facebox ul li .cancel{
	margin: 0 !important;
	top: 3px;
	right: 2px;
	opacity: 0.3;
	visibility: visible;
	position: absolute;
	background: url('../images/cancel-light.png');
}

#facebox ul li .cancel:hover {
	opacity: 0.5;
}

#facebox ul.social .button{
	padding-top: 2px;
    padding-bottom: 2px;
}

#facebox .tags {
	border-color: #e7e7e7;
}

#facebox .product {
  margin: 10px 0;
  padding: 8px;
  background: #F9F390;
  border: 1px solid #D8D272;
  vertical-align: middle;
  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#facebox p {
  margin-top: 5px;
}

#facebox .prod-desc{
  width: 345px;
}

#facebox .finalstep {
  display: block;
}
