@font-face {
    font-family: 'RockwellRegular';
    src: url('../fonts/rock-webfont.eot');
    src: url('../fonts/rock-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rock-webfont.woff') format('woff'),
         url('../fonts/rock-webfont.ttf') format('truetype'),
         url('../fonts/rock-webfont.svg#RockwellRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo500';
    src: url('fonts/museo500-regular-webfont.eot');
    src: url('fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo500-regular-webfont.woff') format('woff'),
         url('fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('fonts/museo500-regular-webfont.svg#Museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SketchBlockBold';
    src: url('fonts/sketch_block-webfont.eot');
    src: url('fonts/sketch_block-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sketch_block-webfont.woff') format('woff'),
         url('fonts/sketch_block-webfont.ttf') format('truetype'),
         url('fonts/sketch_block-webfont.svg#SketchBlockBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ChaparralProRegular';
    src: url('fonts/chaparralpro-regular-webfont.eot');
    src: url('fonts/chaparralpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chaparralpro-regular-webfont.woff') format('woff'),
         url('fonts/chaparralpro-regular-webfont.ttf') format('truetype'),
         url('fonts/chaparralpro-regular-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}
