/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset > ol > li p.inline-hints {
  color: #ccc;
  margin-left: 28%;
}

form.formtastic fieldset > ol > li {
  margin-bottom: 0;
}

form.formtastic fieldset > ol > li.error {
  color: red;
}

form.formtastic fieldset > ol > li fieldset ol {
  padding-left: 27%;
}

form.formtastic input[type='submit'] {
  border: 1px solid #DCDCDC;
  cursor: pointer;
  font: bold 12px Helvetica,Arial,sans-serif;
  padding: 7px 12px;
  position: relative;
}

form.formtastic input[type='file'] {
  margin: 5px 0;
}

form.formtastic input[type='text'],
form.formtastic input[type='file'] {
 -moz-box-sizing: border-box;
 background: none repeat scroll 0 0 #FFFFFF;
 border: 1px solid #CCCCCC;
 color: #444444;
 font-size: 1.1em;
 margin-bottom: 10px;
 padding: 10px;
 width: 100%;
}
