body {
	margin: 15px auto;
	width: 542px;
	min-width: 0;
	background: #585858 url('http://shopbryna.com/images/background.gif') top center repeat-y;
}

header a {
    margin-bottom: 10px;
	display: block;
    text-decoration: none;
}

header a img {
	width: 63px;
	height: 63px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

header h1{
	margin-left: 10px;
	padding-top: 10px;
    font-family: Museo500, serif;
    font-size: 3em;
    font-weight: normal;
    color: #fff !important;
    display: block;
}

header > img {
	margin-bottom: 10px;
	border: 1px solid #fff;
}

section {
	width: 100%;
    min-height: 266px;
	padding: 20px;
	font-size: 14px;
	font: arial,sans-serif;
	background: #fff;
	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

  section .edit-cntrl {
	top: 10px;
	right: 10px;
  }
  
  section h1, section h2, section h3 {
	font-weight: normal;
	margin: 15px 0 5px;
	line-height: 140%;
  }
  
  .title {
	font-size: 2em;
	margin-bottom: 10px;
	border-bottom: 1px solid #f3f3f3;
  }
  
  p {
    margin-bottom: 10px;
    display: block;
  }
  
  .title p em {
    color: #567cd4;
  }
  
  section textarea {
    height: 80px;
    font-size: 1.1em;
    padding: 8px;
    width: 85%;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

article {
    margin: 0 auto;
	padding: 0 10px 10px;
	width: 50%;
    
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
form {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

form h2 {
	margin-top: 0;
}



form.login > a {
	margin-top: 15px;
	text-decoration: none;
}

form .button {
	margin-right: 0 !important;
	float: right !important;
}

label[for=remember-me] {
	display: block;
}

input[type="checkbox"] {
	vertical-align: middle !important;
}

input[type=text], input[type=password] {
	margin: 0 0 10px;
    padding: 10px;
	width: 100%;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=submit]#facebook_login {
  background: no-repeat url('../images/landing/fb-login-button.png');
  padding: 0;
  width: 155px;
  height: 22px;
  border: none;
}

ul.finalstep {
  margin-right: 0 !important;
}

ul.finalstep a{
  margin-top: 8px;
  font-size: 0.8em
}

  ul.finalstep li {
    vertical-align: middle;
  }

ul.social-login {
	margin: 0 0 5px;
	padding: 0 0 5px;
	list-style: none;
	border-bottom: 1px solid #ccc;
}

ul.social-login li {
	width: 100%;
	margin-bottom: 5px;
	text-align: right;
}

li.fb-login  a, li.tt-login  a {
	display: block;
	text-decoration: none;
}

li.fb-login  a{
	color: #fff !important;
}

li.tt-login  a{
	color: #4a80a9 !important;
}

li.fb-login, li.tt-login {
	background-image: url("../images/login-sprite.png");
	background-repeat: no-repeat;
	padding: 8px;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	
	box-shadow: inset 0 0 1px #fff;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li.fb-login {
	background-color: #6172a9;
	background-position: 0 5px;
	border: 1px solid #32437f;
}

li.tt-login {
	background-color: #8ce2e6;
	background-position: 0 -77px;
	border: 1px solid #26b1dc;
}

a.skip {
	position: absolute;
	top: 10px;
	right: 10px;
}

ul.share-bt {
	margin: 30px auto 0;
    width: 257px;
	list-style: none;
}

ul.share-bt  li {
	display: inline-block;
	width: 49%;
}

ul.share-bt li a {
	display: block;
	background: url(../images/share-sprite.png) no-repeat;
}

.share-delicious{ background-position: 0 0 !important; width: 122px; height: 42px; } 
.share-digg{ background-position: 0 -92px !important; width: 122px; height: 42px; } 
.share-facebook{ background-position: 0 -184px !important; width: 122px; height: 42px; } 
.share-tumblr{ background-position: 0 -276px !important; width: 122px; height: 42px; } 
.share-twitter{ background-position: 0 -368px !important; width: 122px; height: 42px; } 
.share-wordpress{ background-position: 0 -460px !important; width: 122px; height: 42px; } 
