h2 {
	margin-top: 0;
	color: #6e84b8;
	font-family: RockwellRegular, Arial, Sans-serif;
	font-weight: normal;
}

h2 {
	font-size: 1.8em;
}

h3 {
	margin-top: 5px;
	font-size: 1.3em;
}

#review, #reason {
	margin: 10px 0;
	position: relative;
}

  #review a, #reason a {
	position: absolute;
	top: 0;
	right: 0;
  }

#new_interaction {
	position: relative;
	border-bottom: 1px solid #e7e7e7;
}

#new_interaction.ask {
	border-bottom: none;
}

#interaction-input, .edit form textarea{
	padding: 10px;
	width: 95% !important;
	border: 1px solid #e7e7e7;
	font-size: 1.1em;
	max-height: 17px;
	background: #fff no-repeat url('../images/write.png') 422px;
}

.input-active, .edit form textarea{
	background-image: none !important;
}

#share-input {
	position: relative;
}

#interaction_stars {
	height: 16px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#item-interaction-submit, #item-ask-submit {
	margin: 10px 0;
}

#interactions {
	margin-top: 5px;
	padding-top: 5px;
}

.cancel {
	position: absolute;
	top: 10px;
	right: 10px;
}

.input-active {
	min-height: 80px;
}

.rating, .rating form {
	height: 16px;
	display: inline-block;
}

ul.social {
	list-style: none;
	margin: 0;
	padding: 5px;
	width: 97%;
	background: #fff;
	border: 1px solid #e7e7e7;
}

ul.social li {
	display: inline-block;
}

aside article .cell, aside article ul li {
  padding: 0;
}

aside article header {
	margin-bottom: 5px;
}

.grid_6 ul.social .button {
	padding: 3px 20px 3px 7px !important;
}

.grid_6 ul.social .cancel {
	top: 4px;
}

ul li .cancel{
	width: 13px;
	height: 14px;
	top: 3px;
	right: 2px;
	opacity: 0.3;
	background: url('../images/cancel-light.png');
}

ul li .cancel:hover {
	opacity: 0.5;
}
