section#review{
  margin: 10px 0 10px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fl.img {
  margin-right: 10px;
}

.cont {
  width: 379px;
}

aside h4, .title {
  margin-bottom: 10px;
}
  .title {
    border-bottom: 1px solid #f3f3f3;
  }
  
  .title .fl {
    width: 95%;
  }
  
  .title .fr {
    width: 5%;
  }

aside ul{
  padding-top: 0 !important;
}

section#review h2 {
  margin: 0;
}

#rendered-review, section#pub-review{
	font-size: 14px;
}
  
  #rendered-review h1, #rendered-review h2, #rendered-review h3 {
  font-weight: normal;
  margin: 15px 0 5px;
  line-height: 140%;
  }
  
  .title {
	font-size: 1.5em;
	padding-bottom: 10px;
  }
  
    .title a {
      text-decoration: none;
    }
  
  #rendered-review h1 {
  font-size: 1.7em;
  }
  
  #rendered-review h2 {
  font-size: 1.6em;
  }
  
  #rendered-review h3 {
  font-size: 1.3em;
  }
  
  #rendered-review p {
  margin-bottom: 5px;
  }
  
  #rendered-review li {
  margin-bottom: 5px;
  }
  
  #rendered-review .edit-cntrl {
  top: 10px;
  right: 10px;
  }

  #rendered-review {
    margin-bottom: 10px;
  }
  
  #review-editor {
    width: 422px;
    float: left;
  }
  
  #options {
    margin-bottom: 10px;
  }
  
  .status {
    margin-left: 10px;
    padding: 6px;
  }
  
    .status.public {
      
    }

#footerbit {
  margin-bottom: 10px;
  color: #ccc;
}

.new_comment .share-input textarea {
  padding: 5px;
  height: 40px;
  width: 100%;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul#comments {
  margin: 15px 0 0;
  width: 100%;
  list-style: none;
}

ul#comments li.row{
  padding: 8px 0;
  display: block;
  /*border-bottom: 1px dotted #cccccc;*/
}

ul#comments li.child {
  margin-left: 35px;
}

ul#comments li img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

ul#comments .cell {
    vertical-align: top;
}

#rating {
  margin-bottom: 5px;
	padding: 5px 8px;
  display: inline-block;
  font-size: 0.8em;
  
	-webkite-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.recommended {
  color: #619866;
}

.neutral {
    color: #7c7c7c;
}

.hate {
    color: #a25959;
}

#owner {
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
  border-top: 1px dashed #ccc;
}

#owner .fl.details{
 width: 300px;
}

.sel_opinion {
  display: block;
  width: 80%;
  font-size: 1.3em;
  float: left;
  margin-right: 10px;
}

.opinion {
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

aside article .uname {
  font-size: 1.2em;
}

aside article .buttons {
  margin-top: 10px !important;
}

aside .finalstep {
  padding: 8px 0;
}
