#offscreen_div {position:absolute; left:-5000px; width:1px; overflow:hidden; }

#img_selector > img {
  max-width:100px;
  max-height:100px;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  display:none;
}

/*

#img_selector_parent{
}
#img_selector_parent table{ 
  border-spacing:0;
  margin:5px 0;
}
#img_selector_parent table td#img_selector{ 
  width: 104px;
  height: 104px;
  border:1px solid #E7E7E7;
  background-color:#EBEBE4;
}
#img_selector_parent table td#img_selector{ 
  text-align:center;
  vertical-align:middle;
  margin-bottom:5px;
}
#img_selector { 
  
}


#img_selector_parent table td#img_controls {
  padding:5px 0;
}

#url_preview {display:;}
#img_selector_parent {}

#url_and_dropdown_container{
  background-color:;
}

#google_search { position:absolute; top:0px; right:0px; background-image:url(/images/mag-glass.png); background-color:Transparent; border:0; padding:0; margin:8px 1px; height:22px; width:22px; cursor:default; }

#main-dropdown { position:absolute; top:38px; left:0; border:1px solid #ddd; background-color:; width:100%;z-index:10000; }
#dropdown  { list-style-type:none; font-size:13px; }
#dropdown { padding:0px; margin:0px; }
#dropdown li  { overflow:; }
#dropdown a, #dropdown a:visited { text-decoration:none; color:Black; width:98%; display:block; }
#dropdown a:hover {  }

.result_item { border:1px solid #d2d2d2; }
.result_item  .r_title { font-weight:bold; white-space:nowrap; }
.result_item  .r_desc { font-weight:normal; white-space:wrap;  }
.result_item  .r_desc b { font-weight:normal; }
.result_item  .r_vurl { font-weight:normal; white-space:nowrap; color:Green; }

.hide{ display:none; }
.show{ display:block; }

.ui-autocomplete {
  background-color:White;
}

.ui-autocomplete .ui-menu-item:hover {
  background-color:#E2E2E2;
  border:0px;
  outline:none;
  text-decoration:none;
}

*/

/* Following was part of facebox.css */


/*
#facebox #new_item #item_name {
float: left;
}

p#item_posession_status{
  padding:15px; text-align:center; float:left;
}

p#item_posession_status span {
  padding:0 20px;
}

#url_preview {
  float:left;
  width:110px;
  padding:5px;
}

#facebox #item_review {
}

#facebox #item_review {
  width: 430px;
  float: left;
}
*/

/*
#facebox #item_possession_status {
margin-right: 5px;
padding: 9px 10px;
width: 86px;
float: left;
background: #fff;
cursor: pointer;
}
*/

