form.action {
  width: 550px;
  position: relative;
  border-bottom: 1px solid #f3f3f3;
}
  form.action input, form.action textarea {
    padding: 8px;
    
    -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  }

  form.action input#item_name{
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
  }
  
  form.action #item_url {
    padding: 8px 142px 8px 8px;
    width: 100%;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ccc;
  }
  
  form.action .revsect {
    position: relative;
  }
  
  form.action .urlprevsect {
    padding: 8px;
    border-top: 1px dashed #ccc;
    position: relative;
  }
  
  .urlsect {
    position: relative;
  }
      
    form.action .urlcont {
      list-style: none;
      position: absolute;
      top: 0;
      right: 1px;
    }
    
    form.action .urlcont li {
      display: inline-block;
      vertical-align: middle;
    }
    
    form.action .urlcont li a {
      text-decoration: none;
    }
    
    form.action .urlcont li a.button {
      margin: 0;
      border-width: 0 0 0 1px;
      border-radius: 0;
      padding-top: 8px;
      padding-bottom: 9px;
    }
    
    form.action #url_preview {
      width: 100px;
      height: 100px;
      background: #f3f3f3;
      position: relative;
    }
    
    form.action #img_controls {
      margin: 0;
      padding: 3px;
      width: 100px;
      list-style: none;
      color: #ccc;
      position: absolute;
      top: 0;
      background: rgba(0, 0, 0, .5);
      -webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
      
    }
    
      form.action #img_controls li {
        cursor: pointer;
      }
      
      form.action #img_controls li img {
        width: 10px;
        height: 10px;
      }
  
  form.action .wrap {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ccc;
  }
  
  form.action textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 101px;
    border: 0;
  }
  
  form.action ul.tag-list {
    margin: 0;
    width: 447px;
    position: absolute;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ccc;
    bottom: 0;
    right: 0;
  }
  
  form.action .finalstep {
    margin: 0;
    padding: 8px 0;
    list-style: none;
  }
  
  form.action .finalstep li {
    display: inline-block;
    vertical-align: top;
  }
  
  form.action .finalstep .button {
    margin-right: 0;
  }
  
  form.action .finalstep select{
    margin-top: 6px;
  }

.close {
  top: 8px;
  right: 8px;
  background-image: url('../images/cancel.png');
}

#offscreen_div {position:absolute; left:-5000px; width:1px; overflow:hidden; }

#img_selector > img {
  max-width:100px;
  max-height:100px;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  display:none;
  min-width: 100px;
}

/*

#img_selector_parent{
}
#img_selector_parent table{ 
  border-spacing:0;
  margin:5px 0;
}
#img_selector_parent table td#img_selector{ 
  width: 104px;
  height: 104px;
  border:1px solid #E7E7E7;
  background-color:#EBEBE4;
}
#img_selector_parent table td#img_selector{ 
  text-align:center;
  vertical-align:middle;
  margin-bottom:5px;
}
#img_selector { 
  
}


#img_selector_parent table td#img_controls {
  padding:5px 0;
}

#url_preview {display:;}
#img_selector_parent {}

#url_and_dropdown_container{
  background-color:;
}

#main-dropdown { position:absolute; top:38px; left:0; border:1px solid #ddd; background-color:; width:100%;z-index:10000; }
#dropdown  { list-style-type:none; font-size:13px; }
#dropdown { padding:0px; margin:0px; }
#dropdown li  { overflow:; }
#dropdown a, #dropdown a:visited { text-decoration:none; color:Black; width:98%; display:block; }
#dropdown a:hover {  }

.result_item { border:1px solid #d2d2d2; }
.result_item  .r_title { font-weight:bold; white-space:nowrap; }
.result_item  .r_desc { font-weight:normal; white-space:wrap;  }
.result_item  .r_desc b { font-weight:normal; }
.result_item  .r_vurl { font-weight:normal; white-space:nowrap; color:Green; }

.hide{ display:none; }
.show{ display:block; }

.ui-autocomplete {
  background-color:White;
}

.ui-autocomplete .ui-menu-item:hover {
  background-color:#E2E2E2;
  border:0px;
  outline:none;
  text-decoration:none;
}

*/

/* Following was part of facebox.css */


/*
#facebox #new_item #item_name {
float: left;
}

p#item_posession_status{
  padding:15px; text-align:center; float:left;
}

p#item_posession_status span {
  padding:0 20px;
}

#url_preview {
  float:left;
  width:110px;
  padding:5px;
}

#facebox #item_review {
}

#facebox #item_review {
  width: 430px;
  float: left;
}
*/

/*
#facebox #item_possession_status {
margin-right: 5px;
padding: 9px 10px;
width: 86px;
float: left;
background: #fff;
cursor: pointer;
}
*/

