section#review{
  margin-bottom: 10px;
  padding: 10px;
  background: white;
  border: 1px solid #CDCDCD;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

aside h4, .title {
  margin-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
}
  
  .title .fl {
    width: 95%;
  }
  
  .title .fr {
    width: 5%;
  }

aside ul{
  padding-top: 0 !important;
}

aside ul {
  border: none !important;
}

img.bigthumb {
  width: 190px;
}

img.userthumb {
  padding: 2px;
  margin-right: 5px;
  width: 50px;
}

section#review, section#pub-review{
	padding: 8px 8px 8px;
	font-size: 14px;
	border: 1px solid #f7f7f7;
	font: arial,sans-serif;
}
  section#pub-review {
    padding: 10px !important;
  }
  
  section#review h1, section#review h2, section#review h3 {
  font-weight: normal;
  margin: 15px 0 5px;
  line-height: 140%;
  }
  
  .title {
	font-size: 1.5em;
	padding-bottom: 10px;
  }
  
    .title a {
      text-decoration: none;
    }
  
  section#review h1 {
  font-size: 1.7em;
  }
  
  section#review h2 {
  font-size: 1.6em;
  }
  
  section#review h3 {
  font-size: 1.3em;
  }
  
  section#review p {
  margin-bottom: 5px;
  }
  
  section#review li {
  margin-bottom: 5px;
  }
  
  section#review .edit-cntrl {
  top: 10px;
  right: 10px;
  }

  #rendered-review {
    margin-bottom: 10px;
    width: 422px;
  }
  
  #review-editor {
    width: 422px;
    float: left;
  }
  
  #options {
    margin-bottom: 10px;
  }

.new_comment .share-input textarea {
  padding: 5px;
  height: 4 0px;
  width: 100%;
  margin-bottom: 10px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul#comments {
  margin: 15px 0 0;
  width: 100%;
  list-style: none;
}

ul#comments li.row{
  padding: 8px 0;
  display: block;
  /*border-bottom: 1px dotted #cccccc;*/
}

ul#comments li.child {
  margin-left: 35px;
}

ul#comments li img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

ul#comments .cell {
    vertical-align: top;
}

#rating {
  margin-bottom: 5px;
	padding: 5px 8px;
  display: inline-block;
  font-size: 0.8em;
  
	-webkite-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.recommended {
  color: #619866;
  background: #a7e8ad;
}

.neutral {
    color: #7c7c7c;
  background: #bdbdbd;
}

.hate {
    color: #a25959;
    background: #d88888;
}

#gallery {
  width: 100px;
}

.galsect {
  margin-right: 10px;
  width: 100px;
}

.sel_opinion {
  display: block;
  width: 85%;
  font-size: 1.3em;
  float: left;
  margin-right: 10px;
}

.opinion {
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

aside article .uname {
  font-size: 1.2em;
}

aside article .buttons {
  margin-top: 3px;
}
