*:focus {
  background: #fff !important;
}

body {
	background: url('../images/bright_squares.png') repeat;
}

.container_24 {
  width: 602px;
  position: relative;
}

h1 {
  margin-top: 25px;
  font-size: 10em;
  font-family: Museo500;
  text-align: center;
}

sub {
  top: 127px;
  left: 234px;
  position: absolute;
  font-size: 1.3em;
}

form.signupform, form.regform, .prizdesc {
  margin: 25px 15px 0 0;
  padding: 10px;
  width: 45%;
  border: 1px solid #cdcdcd;
  background: #fff;
  float: left;
  
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1); 
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

  .prizdesc {
    margin-right: 0;
    min-height: 147px;
  }

form input[type=text], form input[type=password], form input[type=email]{
  margin-bottom: 10px;
  padding: 10px !important;
  background: rgba(255,255,255,0.6) !important;
  border: 1px solid #cdcdcd;
  font-size: 1.3em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1); 
  -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1); 
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
}
  
  .forgform input[type=email] {
    width: 100%;
  }
  
  .forgform input[type=submit] {
    margin-top: 10px !important;
    font-size: 1.1em !important;
  }

form input[type=submit] {
  font-size: 1.3em !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin: 0 !important;
  float: right !important;
}

form a {
  margin-top: 10px;
  display: block;
  text-align: left;
  color: #303030;
  text-shadow: 1px 1px 1px #fff;
  text-decoration: none;
  font-weight: bold;
  float: left;
}

form a:hover {
  color: #484848;
}

ul.logsoc {
  list-style: none;
  margin: 10px 0;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0,0,0,0.1);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #a3a3a3;
}

ul.logsoc li {
  width: 49%;
  display: inline-block;
  text-align: center;
}

 ul.logsoc li a {
  display: block;
 }

footer {
  text-align: center;
  width: 100%;
}
/*
#signup, #login {
  position: absolute;
  top: -32px;
  right: 0;
  font-size: 1.2em;
  font-weight: normal;
}
*/