body {
	background: #f7f7f7;
    font-family: Helvetica, Arial, sans-serif;
}

a { text-decoration: none; }

/* BEGIN BARS */

#blackbar {
    height: 55px;
	background: #000;
}

#bannerbar {
    height: 355px;
    background: #344c85 url('/images/landing/bg_pat.png');
}
  
  #bannerbar span {
    height: 400px;
    display: block;
    background: no-repeat url('/images/landing/spotlight.png') center -175px;
  }
  
#searchbar {
    height: 100px;
    background: #e1e1e1;
    border-top: 1px solid #f1f1f1;
}

/* END BARS */

#container {
    margin-top: -512px;
}

/* BEGIN HEADER */

header {
    height: 55px;
}
  
  header h1 {
    padding-top: 8px;
  }
  
  header h1 a {
    padding: 2px 0 0 53px;
    height: 40px;
    font-family: Museo500, serif;
    font-size: 2.3em;
    font-weight: normal;
    color: #fff;
    display: block;
    background: no-repeat url('/images/landing/logo.png');
  }
  
  header ul {
    margin: 0; padding: 0;
    list-style: none;
    text-align: right;
  }
  
  header li {
    display: inline-block;
  }
  
    header li a {
        padding: 20px 13px;
        font-weight: bold;
        display: block;
        color: #fff;
    }
    
    header nav li a:hover {
        background: #171717;
    }
  
  header > ul {
    margin-top: 10px;
    width: 139px !important;
    height: 35px;
    border-left: 1px solid #545454;
    position: relative;
  }
  
  header > ul li a {
    padding: 10px 13px 9px;
    color: #545454;
  }
  
  header > ul li a:hover {
    color: #838383;
  }
  
  /* BEGIN LOGIN DROP */
  
  #login {
    height: 46px;
  }
  
  #login:hover #login-drop{
    visibility: visible;
  }
  
  #login:hover {
    background: #0D0D0D;
  }
  
  #login:hover a {
    color: #fff !important;
  }
  
  #login-drop {
    background: none repeat scroll 0 0 #0D0D0D;
    float: right;
    height: 140px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 46px;
    visibility: hidden;
    width: 308px;
  }
  
  #login-drop form {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #393939;
  }
  
  #login-drop input[type=text], #login-drop input[type=password]{
    margin-bottom: 10px;
    padding: 8px 5px;
    width: 100%;
    color: #b8b8b8;
    border: 0;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  #login-drop ul {
    margin: 0 !important;
    list-style: none;
    text-align: left;
  }
  
  #login-drop a {
    padding: 0 !important;
    display: inline-block;
  }
  
  #login-drop span {
    float: left;
    color: #fff;
  }
  
  /* END LOGIN DROP */
  
/* END HEADER */

/* BEGIN BANNER */

#banner {
    height: 355px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  #banner ul {
    margin: 0; padding: 0;
    list-style: none;
  }
  
    #banner ul li {
        height: 355px;
    }
    
    #banner ul li.share {
        /*background: no-repeat url('/images/landing/share-banner.png') right;*/
    }

  #banner h2 {
    margin-bottom: 15px;
    padding: 65px 0 0;
    font-family: SketchBlockBold, Arial, sans-serif;
    font-size: 2.4em;
    color: #fff;
  }
  
  #banner p {
    margin-bottom: 15px;
    width: 400px;
    color: #fff;
    font-size: 1.3em;
  }
  
  #banner .button {
    width: 230px;
  }

/* END BANNER */

/* BEGIN SEARCH */

#search {
    padding-top: 20px;
    height: 98px;
    position: relative;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

  #search input[type=text] {
    padding: 16px 15px;
    width: 100%;
    font-size: 1.5em;
    color: #b8b8b8;
    border: 1px solid #b8b8b8;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0 0 5px #cbcbcb;
    -moz-box-shadow: 0 0 5px #cbcbcb;
    box-shadow: 0 0 5px #cbcbcb;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  #search input[type=submit] {
    width: 52px;
    height: 33px;
    border-left: solid #d6d6d6;
    border-width: 0 0 0 1px;
    background: no-repeat url('/images/landing/magsearch.png') right;
    position: absolute;
    right: 15px;
    top: 32px;
  }

/* END SEARCH */

/* START MAIN CONTENT */

#main {
    margin-top: 15px;
}

  #main h3 {
    margin-bottom: 10px;
    font-family: ChaparralProRegular, Times New Roman, serif;
    font-size: 1.8em;
    font-variant: small-caps;
    font-weight: normal;
    background: repeat-x url('/images/landing/header-line.png') center;
  }
  
    #main h3 span {
        background: #f7f7f7;
        color: #545454;
        text-shadow: 0 1px #fff;
    }
    
    #main h3 em {
        color: #4e8fcc;
        font-style: normal;
    }
    
    #main .grid_12 h3 {
        text-align: center;
    }
    
      #main .grid_12 h3 span {
        padding: 0 10px;
      }
    
    #main .grid_6 h3 {
        text-align: left;
    }
      #main .grid_6 h3 span {
        padding: 0 10px 0 0;
      }
      
  #brands ul{
    margin: 0 auto;
  }
  
    #brands li {
        display: inline-block;
    }
    
    #brands li a {
        display: block;
    }
  
  #p-buying ul, #p-saying ul{
    margin: 0;
    list-style: none;
  }
  
    #p-buying li {
        margin-right: 10px;
        margin-bottom: 15px;
        width: 140px;
        text-align: center;
        display: inline-block;
    }
    
    #p-buying li a {
        display: block;
        color: #fff;
    }
    
    #p-buying img {
        padding: 10px;
        width: 120px;
        height: 100px;
        border: 1px solid #d5d5d5;
        background: #fff;
        
        -webkit-box-shadow: inset 0 0 5px #fff;
        -moz-box-shadow: inset 0 0 5px #fff;
        box-shadow: inset 0 0 5px #fff;
    }
    
    #p-buying p {
        margin-top: 3px;
        padding: 2px;
        width: 100%;
        font-size: 0.9em;
        background: #cccccc;
        
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
  
  #p-saying li {
    margin-bottom: 10px;
  }
  
  #p-saying img {
    padding: 5px;
    width: 60px;
    height: 60px;
    float: left;
    border: 1px solid #d5d5d5;
    background: #fff;
  }
  
  #p-saying .fl {
    margin-left: 10px;
    width: 80%;
  }
  
  #p-saying a {
    color: #4e8fcc;
  }
  
  #p-saying a:hover {
    text-decoration: underline;
  }
  
  
/* END MAIN CONTENT */

footer {
    padding-top: 15px;
    background: #1f1f1f;
    color: #6d6d6d;
}
  footer a {
    color: #fff;
  }

  footer ul {
    margin: 0; padding: 0;
    list-style: none;
  }
  
    footer li > ul li {
        margin-bottom: 5px;
    }
  
  footer h5 {
    margin-bottom: 10px;
    color: #b8b8b8;
    font-size: 1.3em;
    font-weight: bold;
  }
  
  footer #copyright {
    margin: 0 auto;
    padding: 50px 10px 10px;
    width: 940px;
  }

/* CLASSES */

.button {
    padding: 10px 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    text-align: center;
    text-shadow: 1px 1px #84a93f;
    
    background: #cdeb8e; /* Old browsers */
    background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* W3C */
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.alt {
    color: #cae987;
}
