#main {
	margin-top: 10px;
}

.action-menu {
  margin-bottom: 5px;
  font-size: 1.1em;
  font-variant: small-caps;
  font-weight: bold;
}

.action-menu li {
  display: inline-block;
}

  .action-menu li a {
    margin-right: 1px;
    padding: 3px 8px 7px;
    text-decoration: none;
    font-variant: normal;
    font-weight: normal;
    
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
  }
  
  .action-menu li a:hover {
    background: #f3f3f3;
  }
  
  .action-menu li a.active {
    background: #e0e5f0;
  }

form.action {
  padding: 8px;
  width: 100%;
  background: #e0e5f0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

  form.action .cell {
    padding-bottom: 5px;
    width: 10%
  }
  
  form.action .cell.input {
    width: 90%;
  }
  
  form.action input[type=text], form.action textarea {
    margin-bottom: 5px;
    padding: 8px;
    width: 100%;
    color: #a7a7a7;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    border: 1px solid #c4cbdc;
  }
  
  form.action table {
    width: 20%;
  }
  
  form #url_preview {
  	width: 20%;
  	height: 100px;
  	float: left;
  	position: relative;
  }
  
  form #img_controls {
  	padding: 3px;
  	position: absolute;
  	width: 89%;
  	background: rgba(0, 0, 0, .5);
  }
  
  form #prev_image, form #next_image{
  	width: 10px;
  	height: 10px;
  	cursor: pointer;
  }
  
  form #prev_image img, form #next_image img{
  	width: 10px;
  	height: 10px;
  }
  
  form #prev_image {
  	float: left;
  }
  
  form #next_image {
  	float: right;
  }
  
  form.action textarea {
    min-width: 80%;
    max-width: 80%;
    min-height: 100px;
    height: 100px;
  	float: left;
  }
  
  form.action input[type=submit].button {
    margin-right: 0;
    margin-left: 10px;
    width: 80px;
    float: right;
  }
  
  .tags {
    margin-bottom: 10px !important;
	}
	
	ul.as-list {
		position: absolute;
		list-style-type: none;
		margin: 2px 0 0 0;
		padding: 0;
		color: #444444;
		background-color: #fff;
		z-index: 2;
	}
	
	li.as-result-item, li.as-message {
		margin: 0 0 0 0;
		padding: 5px 12px;
		background-color: transparent;
		border: 1px solid #fff;
		border-bottom: 1px solid #ddd;
		cursor: pointer;
	}
	
	li:first-child.as-result-item {
		margin: 0;
	}
	
	li.as-message {
		margin: 0;
		cursor: default;
	}
	
	li.as-result-item.active {
		background-color: #ccc;
	}
	
	li.as-result-item em { 
		font-style: normal; 
		background: #444;  
		padding: 0 2px;
		color: #fff;
	}
	
	li.as-result-item.active em { 
		background: #253f7a;  
		color: #fff;
	}
  
.usergal, .table {
  padding-top: 5px;
  border-top: 1px solid #f3f3f3;
}

  .usergal li {
    display: inline-block;
  }

.fol-f .row {
  display: block;
  width: 100%;
}

.cell.img a {
  display: block;
}

.fol-f .post.cell {
  padding-left: 5px !important;
  width: 100%;
}

.fol-f .cell.post h1 {
  margin-bottom: 3px;
  font-size: 1.2em;
}
  
.fol-f .cell.post ul{
  margin-left: 20px;
  list-style: circle;
}

.fol-f .rv .cell {
  padding: 10px 0;
}

.fol-f .user.cell {
  width: 90px;
  vertical-align: top;
}

  .fol-f .user.cell a {
    display: block;
    text-align: center;
    text-decoration: none;
  }

  .fol-f .rv .user.cell img {
    width: 80px;
    height: 80px;
  }

.fol-f .activ {
  margin-bottom: 5px;
}
  
.fol-f .activ .cell {
  padding: 3px 0;
  background: #e9f0f6;
}

  .fol-f .activ .user.cell {
    padding-left: 5px;
    width: 40px;
    
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
  }

  .fol-f .activ .user.cell img {
    width: 30px;
    height: 30px;
    display: block;
  }

  .fol-f .activ .post.cell {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
  }

.product {
  margin-bottom: 10px;
  background: #f9f390;
  border: 1px solid #d8d272;
  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product .fl {
  padding: 5px;
  margin-right: 5px;
  width: 75px;
}

.product .fl img {
  width: 100%;
}

.product .fr {
  padding: 5px;
  width: 358px;
}

.product .p-act {
  border-top: 1px solid #e5df77;
  background: #f2efc0;
}

.product .p-act li{
  padding: 2px 0 5px;
  width: 151px;
  display: inline-block;
  text-align: center;
  font-variant: small-caps;
}

.product .p-act li:hover {
  background: #f7f5d8;
}

.product .p-act a {
  color: #948d21;
  display: block;
  text-decoration: none;
}

.product h2 a{
  color: #444444 !important;
  text-decoration: none;
}

.footerbit {
  margin: 5px 0 10px;
}

.footerbit, .footerbit a {
  color: #b6b6b6;
}

.collapse-comm {
  padding: 3px 0 5px;
  border-top: 1px dashed #ccc;
  text-align: center;
  background: #f3f3f3;
  font-variant: small-caps;
  color: #c5c5c5 !important;
  display: block;
  text-decoration: none !important;
}

.comms {
  border-top: 1px dashed #ccc;
}
  .comms li {
    display: block;
    border-bottom: 1px dotted #ccc;
  }

  .comms .cell {
    float: left;
  }

  .comms .cell.img {
    width: 9%;
    vertical-align: top;
  }

  .comms .cell.cont {
    width: 91%;
  }
  
  .comms .comm-ft {
    display: block;
    text-align: right;
  }
  
    .comms .comm-ft a{
      margin-left: 5px;
      font-variant: small-caps;
    }

  .comms .reply {
    width: 420px;
    margin-left: 40px !important;
  }
    
.in-comm {
  margin-top: 5px;
  padding-top: 5px;
}
  
  .in-comm textarea {
    padding: 5px;
    max-width: 464px;
    min-width: 100%;
    border: 1px solid #ccc;
    color: #a7a7a7;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .in-comm .button {
    margin: 5px 0 0 5px !important;
    float: right !important;
  }
  
  .in-comm input.button {
    width: 80px;
  }
  
  .in-comm .sharebts {
    margin-top: 5px !important;
    padding: 5px;
    border: 1px solid #ccc;
    color: #a7a7a7;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

.empt-f {
  margin-top: 10px;
  text-align: center;
}

aside .row {
	display: table-row;
}

aside .cell .button {
	margin-right: 0;
	padding: 3px 6px;
}

aside .cell.uname {
	padding: 0 9px 3px;
}

aside .cell {
	padding-bottom: 3px;
}