/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
	
	*:focus {
		outline: none;
		border: 0;
	}

	body {
		background: #fff;
	}
	
	ul {
        margin: 0;
    }
	
	#headerBar {
		height: 45px;
        border-bottom: 1px solid #d9e6ff;
		background: #6a80b5 url('../images/bg_pat.png');
	}
	
	#userBar {
		height: 35px;
		background: #cdd9f1;
	}
	
	#main {
		margin-top: -82px;
	}
	
    #main > header {
		height: 46px;
	}
	
	  #main > header h1, article header h1 {
		margin-top: 6px;
		color: #fff;
		font-size: 2em;
		font-weight: bold;
		float: left;
	  }
      
	    header h1 a, header h1 a:visited {
			color: #fff;
			text-decoration: none;
		}
		
		header nav  ul{
			margin-top: 10px;
			float: right;
		}
		
		  header nav li {
			display: inline-block;
		  }
		  
		  header nav li a, header nav li a:visited {
			padding: 5px;
			color: #fff;
			font-family: Calibri, Arial, Serif;
			font-weight: bold;
			font-size: 1.5em;
			text-decoration: none;
		  }
		  
		  header nav li a:hover, header nav li a.active {
			background: #506086;
			
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		  }
		
		header form {
			margin-top: 7px;
			position: relative;
		}
		
		  header form input[type=text] {
			padding: 7px 116px 7px 7px;
			width: 100%;
            border: 0;
            color: #c5c5c5;
            
            -webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
            
            -webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		  }
          
          header form input[type=submit], header form input#mag-glass{
            padding: 5px 11px 4px;
            border: 0;
            color: #fff;
            font-size: 0.9em;
            font-weight: bolder;
			position: absolute;
			top: 3px;
			right: -6px;
          }
          
          header form input#mag-glass{
			background: no-repeat url('../images/mag-glass.png');
          }
          
          .yui3-aclist-list .button{
            margin-left: 10px;
          }
          
          .yui3-aclist-list .rating {
            padding: 0;
            float: left;
            width: 173px;
            height: 16px;
          }

          .yui3-widget {
            top: 33px !important;
            left: 318px !important;
            margin-left: -391px !important;
            width: 600px !important;
            position: absolute !important;
            background: #fff !important;
            z-index: 999 !important;
          }

          .yui3-aclist-content {
            border: none !important;
            -webkit-box-shadow: 0 !important;
            -moz-box-shadow: 0 !important;
            box-shadow: 0 !important;
          }

	.yui3-aclist-list .cell > a {
		margin-right: 10px;
		float: left;
	  }

	.yui3-aclist-list h2 a{
		font-size: 1.1em;
    		color: #555555 !important;
    		text-decoration: none !important;
	}

	.yui3-aclist-list h2 a:hover {
		text-decoration: underline !important;
	}
		.yui3-aclist-list ul{
			list-style: none;
		}
		
	    .yui3-aclist-list li{
			display: inline-block;
		}
		
		.yui3-aclist-list ul {
			margin: 0;
			padding: 8px 0 0;
			float: right;
		}
		
		.yui3-aclist-list div.table{
			width: 100%;
            border-width: 0 1px 1px;
            border-style: solid;
			border-color: #fff;
			
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		
		.yui3-aclist-list img {
			width: 55px;
			height: 55px;
			border: 1px solid #dfdfdf;
		}

		.yui3-aclist-list .table ul {
			margin: 0;
			float: left;
		}
		
		.yui3-aclist-list .cell {
			padding: 5px;
		}
		
		.yui3-aclist-item-active, .yui3-aclist-item-hover {
			background: #f3f3f3 !important;
		}
		
		.yui3-aclist-list .button {
			margin-right: 0 !important;
			float: right !important;
		}
		
		.yui3-aclist-item .cell.img {
			width: 60px;
		}

        .yui3-aclist-item .cell.desc {
			width: 322px;
		}
	
	#userBit {
		margin-bottom: 15px;
		height: 35px;
	}
	
	  #userBit div {
		padding: 10px 0 0;
	  }
	
	  #userBit nav {
		height: 35px;
		text-align: right;
	  }
	
	  #userBit  ul li{
		display: inline-block;
		
	  }
	  
	    #userBit  ul li a {
			margin-left: -5px;
			padding: 10px 8px 8px;
			display: block;
			border-bottom: 2px solid #cdd9f1;
			text-decoration: none;
	    }
		
        #userBit ul li a:hover {
            background: #d9e1f1;
            border-bottom: 2px solid #d9e1f1;
        }
        
		#userBit ul li a.active {
		    background: #d9e1f1;
			border-bottom: 2px solid #8eaff0;
		}

	article {
		margin-bottom: 10px;
		border: 1px solid #d5d5d5;
		background: #fff;
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
        article header {
			padding: 5px 5px 5px;
            background: #e9edf5;
            
            -webkit-box-shadow: 0 0 0 1px #FFFFFF inset;
            -moz-box-shadow: 0 0 0 1px #FFFFFF inset;
            box-shadow: 0 0 0 1px #FFFFFF inset;
		}
        
		article header h1 {
		    margin-top: 0;
			color: #6e84b8;
			font-family: RockwellRegular, Arial, Sans-serif;
			font-weight: normal;
		}
		
				
		.status {
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			
			font-variant: small-caps;
			padding: 1px 5px 2px;
			text-decoration: none;
		}
		
		.private {
			color: #582323 !important;
			background: #d99191;
		}
		
		.public {
			color: #235825 !important;
			background-color: #9ed991;
		}
	    
        aside article {
            border: 0;
            background: none;
        }
        
        aside article header {
            border-top: 1px solid #d0d3da;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        
        aside article .table{
            border: 0 !important;
        }
        
        aside article .table {
			font-size: 0.85em;
        }
        
        aside article ul {
			font-size: 0.95em;
        }
        
		aside article .cell, aside article ul li {
			padding: 5px 0;
		}
		
        aside article .row:hover{
			background: none;
		}
        
        aside article .cell.img {
            width: 50px;
        }
            aside article .cell.img img{
                width: 40px;
                height: 40px;
            }
        
        aside article a {
            text-decoration: none;
        }
        
        aside article h1 {
            font-size: 1.1em;
        }
        
        aside article ul li a {
            display: block;
        }
        
        aside form {
			margin-top: 5px;
        }
        
        aside form textarea{
			padding: 3px;
			width: 97% !important;
			border: 1px solid #e7e7e7;
			font-size: 1em;
			background: #fff no-repeat url('../images/write.png') 422px;
		}
		
		aside form .fb.button, aside form .twitter.button {
			padding-top: 3px;
			padding-bottom: 3px;
		}
		
		aside input[name=commit] {
			padding: 3px 12px !important;
		}
		
		aside form textarea:focus {
			border: 1px solid #e7e7e7;
		}
		
		aside ul.social {
			padding: 3px;
			margin-bottom: 5px;
		}

    
    #copyright {
        padding: 10px 0;
        text-align: center;
    }
    
	.table, .yui3-aclist-list {
		display: table;
	}
	
	.row, .yui3-aclist-item{
		display: table-row;
	}
	
	.cell {
		display: table-cell;
		vertical-align: middle;
	}
	
	.button {
		padding: 6px 12px;
		color: #9d9d9d !important;
		text-decoration: none;
		border: 1px solid #c2c2c2;
		text-align: center;
		position: relative;
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
	}
	
	  .button:active {
		background: #e5e5e5; /* Old browsers */
		background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* W3C */
	  }
	  
	  .fb.button, .twitter.button {
		padding-left: 7px;
		padding-right: 20px;
	    color: #fff !important;
	    
		-webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
		-moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
		box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
	  }
	  
	  .fb.button {
		border: 1px solid #314a7e;
		
		background: #537cd6; /* Old browsers */
		background: -moz-linear-gradient(top, #537cd6 0%, #4365ad 44%, #3b5998 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#537cd6), color-stop(44%,#4365ad), color-stop(100%,#3b5998)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #537cd6 0%,#4365ad 44%,#3b5998 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #537cd6 0%,#4365ad 44%,#3b5998 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #537cd6 0%,#4365ad 44%,#3b5998 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#537cd6', endColorstr='#3b5998',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #537cd6 0%,#4365ad 44%,#3b5998 100%); /* W3C */
		
		
		
	  }
	  
	  .twitter.button {
		border: 1px solid #1c84a4;
		
		background: #00b7ea; /* Old browsers */
		background: -moz-linear-gradient(top, #00b7ea 0%, #209cc2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#209cc2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #00b7ea 0%,#209cc2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #00b7ea 0%,#209cc2 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #00b7ea 0%,#209cc2 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#209cc2',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #00b7ea 0%,#209cc2 100%); /* W3C */
	  }
	  
	.cancel {
		width: 16px;
		height: 16px;
		display: block;
		background: url('../images/cancel.png');
		cursor: pointer;
	}
	
	input[name=commit]{
		float: right;
		border: solid 1px #3079ED;
		color: #fff !important;
		font-weight: bold;
		
		background: #499bea; /* Old browsers */
		background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #499bea 0%,#207ce5 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #499bea 0%,#207ce5 100%); /* W3C */
	}
	
	input[name=commit]:hover {
		background: #3f97e9; /* Old browsers */
		background: -moz-linear-gradient(top, #3f97e9 0%, #1a77e2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f97e9), color-stop(100%,#1a77e2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #3f97e9 0%,#1a77e2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #3f97e9 0%,#1a77e2 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #3f97e9 0%,#1a77e2 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f97e9', endColorstr='#1a77e2',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #3f97e9 0%,#1a77e2 100%); /* W3C */
	}
	
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 



}
