.grid_4 {
  width: 117px !important;
}

#content .person {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#content .person .uname{
  margin-top: 5px;
  color: #444;
  font-weight: bold;
  text-decoration: none;
}

#content .person .button{
  display: block;
  text-align: center;
  float: left;
  margin: 5px 2px 0;
  padding: 6px 0;
}

#main input#user_email {
  float: left;
  width: 91%;
}