#main a, #main a:active, #main a:visited { color: #5d5d5d; text-decoration: none; }
#main a:hover { color: #5d5d5d; }

a.active { color: #d14836 !important; font-weight: bold;}

#subbar {
	height: 110px;
	background: #eee;
	border-bottom: 1px solid #dadada;
}

.profilePic {
	padding: 5px;
	background: #fff;
    height: 70px;
}

.grid_19 {
	width: 740px !important;
}

.edit.button { margin: 0; }

#container {
	margin-top: -154px;
}

header .grid_14 {
	width: 580px !important;
}

#main > header {
	margin-bottom: 0;
}

#socialbit {
	margin: 0;
	padding-top: 3px;
	height: 55px;
	list-style: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
  #socialbit li:first-child {
	margin-left: 5px;
  }

  #socialbit li {
	margin-left: 5px;
	width: 177px;
	display: inline-block;
  vertical-align: top;
  }
  
  #socialbit a, ul.activity-feed li a{
	color: #476ab3 !important;
  }
  
  .ufgallery {
    margin-top: 3px;
  }

#content, aside {
	padding-top: 10px;
}

#content{
	padding-left: 10px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h2 {
	font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: normal;
}

#content .button {
  margin-right: 0;
  float: right;
}

#content h2{
  padding-top: 5px;
  float: left;
}

#helptool ul li {
  width: 50%;
}

#helptool li:last-child {
  border-left-width: 1px;
}

ul.activity-feed , ul.list-display, ul.case-list {
	margin: 0;
	list-style: none;
  width: 100%;
}

ul.activity-feed li, ul.case-list li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

ul.activity-feed li a.user {
	font-weight: bold;
	color: #5D5D5D !important;
	text-decoration: none !important;
}

ul.activity-feed li a{
	text-decoration: underline !important;
}

.timebit {
	color: #ccc;
}

aside nav ul {
	border-top: 0;
}

ul.list-display, ul.case-list {
  padding-top: 10px;
  width: 100%;
  border-top: 1px solid #F3F3F3;
}

ul.case-list {
  padding-top: 3px !important;
}

ul.case-list .row.header .cell {
  border-bottom: 1px solid #F3F3F3;
}

ul.list-display .cell, ul.case-list .cell{
	margin: 0 5px 10px 0;
  padding: 5px;
	position: relative;
   
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul.case-list .cell {
  border-bottom: 1px dotted #ccc;
}

ul.list-display li:hover {
	background: #f3f3f3;
}

ul.list-display li .img, ul.list-display .img img {
	width: 50px;
}

ul.list-display li h3 {
	margin-bottom: 5px;
	font-size: 1.1em;
}

ul.list-display li .close {
  top: 10px;
}

ul.activity-feed img.smallthumb {
	margin-right: 5px;
}

aside  nav li{
	margin-bottom: 10px;
}

aside h4 {
	margin-bottom: 10px;
  padding-bottom: 3px;
	border-bottom: 1px solid #F3F3F3;
}

footer {
	margin-top: 0;
}

#edit-user form {
  border-bottom: 1px dashed #393939;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

#edit-user input[type="text"], #edit-user input[type="password"], #edit-user input[type="email"],
#new-case input[type="text"], #new-case textarea {
  -moz-border-radius: 3px 3px 3px 3px;
  -moz-box-sizing: border-box;
  border: 1px solid #ccc;
  color: #666;
  padding: 5px;
  width: 60%;
}

#edit-user input[type="submit"],
#new-case input[type="submit"] {
  width: 100%;
}

#edit-user li.error > input {
  border: 1px solid red;
}

#edit-user li.error > label {
  color: red;
}

#edit-user label {
  width: 140px;
  display: inline-block;
  text-align: right;
  color: #666;
  margin-right: 10px;
  padding-top: 5px;
}

#new-case label {
  text-align: right;
  margin-right: 10px;
}

#edit-user #submit {
  float: right;
}

#edit-user span {
  color: #ccc;
  float: left;
}

#edit-user ul {
 list-style: none outside none;
 margin: 0 !important;
 text-align: left;
}

#edit-user ul li {
  display: inline-block;
}

#edit-user a, #edit-user a:active, #edit-user a:visited {
  text-decoration: none;
}

#edit-user .error-message {
  color: red;
  margin: 0 0 5px 150px;
}
