#main a, #main a:active, #main a:visited { color: #5d5d5d; text-decoration: none; }
#main a:hover { color: #5d5d5d; }

.no-menu .userbit {
  margin-top: 7px;
}

.container_24 {
  position: relative;
}

.profilePic {
	padding: 5px;
	height: 150px;
	width: 150px;
	background: #fff;
}

.edit.button { margin: 0; }

#socialbit {
	margin: 10px 0 0 !important;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
  #socialbit li {
    margin-bottom: 10px;
  }
  
  #socialbit a, ul.activity-feed li a{
	color: #476ab3 !important;
  }
  
  .ufgallery {
    margin-top: 3px;
  }
  
    .ufgallery a {
      margin: 5px;
    }


h2 {
	font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: normal;
}


#edit-user form {
  border-bottom: 1px dashed #393939;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

#edit-user input[type="text"], #edit-user input[type="password"], #edit-user input[type="email"],
#new-case input[type="text"], #new-case textarea {
  -moz-border-radius: 3px 3px 3px 3px;
  -moz-box-sizing: border-box;
  border: 1px solid #ccc;
  color: #666;
  padding: 5px;
  width: 60%;
}

#edit-user input[type="submit"],
#new-case input[type="submit"] {
  width: 100%;
}

#edit-user li.error > input {
  border: 1px solid red;
}

#edit-user li.error > label {
  color: red;
}


#new-case label {
  text-align: right;
  margin-right: 10px;
}

#edit-user #submit {
  float: right;
}

#edit-user span {
  color: #ccc;
  float: left;
}

#edit-user ul {
 list-style: none outside none;
 margin: 0 !important;
 text-align: left;
}

#edit-user ul li {
  display: inline-block;
}

#edit-user a, #edit-user a:active, #edit-user a:visited {
  text-decoration: none;
}

#edit-user .error-message {
  color: red;
  margin: 0 0 5px 150px;
}

aside .tags {
	border: 0;
}

  aside .tags li {
  	margin-bottom: 5px;	
  }

aside .close {
  right: 8px;
}

ul.det li {
  display: inline-block;
}

#welcome {
  text-align: center;
  padding: 10px;
}
  #welcome p {
    margin-top: 10px;
  }

  #welcome span {
    font-weight: bold;
    color: #ccc;
  }


.prof-sys {
  position: absolute;
  top: 0;
  right: 0;
}