#main a, #main a:active, #main a:visited { color: #5d5d5d; text-decoration: none; }
#main a:hover { color: #5d5d5d; }

a.active { color: #d14836 !important; font-weight: bold;}

#subbar {
	height: 130px;
	background: #eee;
	border-bottom: 1px solid #dadada;
}

.profilePic {
	padding: 5px;
	background: #fff;
  height: 155px;
}

.grid_19 {
	width: 740px !important;
}

#container {
	margin-top: -227px;
}

header .grid_14 {
	width: 540px !important;
}

#main > header {
	margin-bottom: 0;
}

#socialbit {
	margin: 0;
	padding-top: 10px;
	height: 132px;
	list-style: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
  #socialbit li:first-child {
	margin-left: 5px;
  }

  #socialbit li {
	margin-left: 5px;
	width: 177px;
	display: inline-block;
  }
  
  #socialbit a {
	color: #476ab3 !important;
  }

#content, aside {
	padding-top: 10px;
}

#content{
	padding-left: 10px;
	border-left: 1px solid #dadada;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

aside  nav li{
	margin-bottom: 10px;
}

footer {
	margin-top: 0;
}

#main > header {
  height: 53px;
  margin-bottom: 0;
  padding-top: 13px;
}

#main > header h2 {
  font-size: 1.8em;
  font-weight: normal;
}

#main .buttons {
  float: right;
}

#content {
  min-height: 500px;
}

#helptool {
  -moz-border-radius: 3px 3px 3px 3px;
  background: none repeat scroll 0 0 #CFE1F1;
  margin: 0 0 10px;
  padding: 5px;
  position: relative;
}

#helptool ul {
  list-style: none outside none;
  margin: 0;
}

#helptool h3 {
  margin-bottom: 5px;
}

#container > header nav a:hover {
	background: #283a64;
}
