/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
	
	*:focus {
		outline: none;
		border: 0;
	}

	body {
		background: #f8f8f8;
	}
	
	ul {
        margin: 0;
    }
	
	#headerBar {
		height: 45px;
        border-bottom: 1px solid #d9e6ff;
		background: #6a80b5 url('../images/bg_pat.png');
	}
	
	#userBar {
		height: 35px;
		border-bottom: 1px solid #fff;
		background: #cdd9f1;
	}
	
	#main {
		margin-top: -82px;
	}
	
    #main > header {
		height: 45px;
	}
	
	  #main > header h1, article header h1 {
		margin-top: 6px;
		color: #fff;
		font-size: 2em;
		font-weight: bold;
		float: left;
	  }
      
	    header h1 a, header h1 a:visited {
			color: #fff;
			text-decoration: none;
		}
		
		header nav  ul{
			margin-top: 10px;
			float: right;
		}
		
		  header nav li {
			display: inline-block;
		  }
		  
		  header nav li a, header nav li a:visited {
			padding: 0 5px;
			color: #fff;
			font-family: Calibri, Arial, Serif;
			font-weight: bold;
			font-size: 1.6em;
			text-decoration: none;
		  }
		  
		  header nav li a:hover, header nav li a.active {
			background: #506086;
			
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		  }
		
		header form {
			margin-top: 7px;
			position: relative;
		}
		
		  header form input[type=text] {
			padding: 7px 116px 7px 7px;
			width: 100%;
            border: 0;
            color: #c5c5c5;
            
            -webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
            
            -webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		  }
          
          header form input[type=submit] {
            padding: 5px 11px 4px;
            border: 0;
            color: #fff;
            font-size: 0.9em;
            font-weight: bolder;
		position: absolute;
		top: 3px;
		right: -6px;
          }
          
          .yui3-aclist-list {
            
            
            -webkit-box-shadow: 0 0 5px #ababab;
            -moz-box-shadow: 0 0 5px #ababab;
            box-shadow: 0 0 5px #ababab;
          }
          
          .yui3-aclist-list .button{
            margin-left: 10px;
          }
          
          .yui3-aclist-list .rating {
            padding: 0;
            float: left;
            width: 168px;
            height: 16px;
          }

          .yui3-widget {
            top: 33px !important;
            left: 318px !important;
            margin-left: -391px !important;
            width: 600px !important;
            position: absolute !important;
            background: #fff !important;
            z-index: 999 !important;
          }
	
	#userBit {
		margin-bottom: 15px;
		height: 35px;
	}
	
	  #userBit div {
		padding: 10px 0 0;
	  }
	
	  #userBit nav {
		height: 35px;
		text-align: right;
	  }
	
	  #userBit  ul li{
		display: inline-block;
		
	  }
	  
	    #userBit  ul li a {
			margin-left: -5px;
			padding: 10px 8px 6px;
			display: block;
			border-bottom: 2px solid #cdd9f1;
			text-decoration: none;
	    }
		
        #userBit ul li a:hover {
            background: #d9e1f1;
            border-bottom: 2px solid #d9e1f1;
        }
        
		#userBit ul li a.active {
		    background: #d9e1f1;
			border-bottom: 2px solid #8eaff0;
		}

	article {
		margin-bottom: 10px;
		border: 1px solid #d5d5d5;
		background: #fff;
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
        article header {
			padding: 5px 5px 5px;
            background: #e9edf5;
            
            -webkit-box-shadow: 0 0 0 1px #FFFFFF inset;
            -moz-box-shadow: 0 0 0 1px #FFFFFF inset;
            box-shadow: 0 0 0 1px #FFFFFF inset;
		}
        
		article header h1 {
		    margin-top: 0;
			color: #6e84b8;
			font-family: RockwellRegular, Arial, Sans-serif;
			font-weight: normal;
		}
        
		  #own .cell > a, .yui3-aclist-list .cell > a {
			margin-right: 10px;
			float: left;
		  }
		
		  article header a {
			color: #9d9d9d !important;
			text-decoration: none;
			padding: 3px;
		  }
		  
		  article header a.active, article header a:hover{
			color: #fff !important;
			background: rgba(0,0,0,0.2);
			
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		  }
		  
		  article header .addItem, header form input[type=submit]{
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			
			background: #a9db80; /* Old browsers */
			background: -moz-linear-gradient(top, #a9db80 0%, #96c56f 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(100%,#96c56f)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Opera11.10+ */
			background: -ms-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* IE10+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
			background: linear-gradient(top, #a9db80 0%,#96c56f 100%); /* W3C */
		  }
		  
		  article header .addItem  a {
			color: #fff !important;
			padding: 3px 8px 3px 24px;
			display: block;
			background: no-repeat url('../images/add.png') 3px 3px;
		  }
		
		article h2 a, .yui3-aclist-list h2 a{
			font-size: 1.1em;
            color: #555555 !important;
            text-decoration: none !important;
		}
        
          article h2 a:hover, .yui3-aclist-list h2 a:hover {
            text-decoration: underline !important;
          }
		
		article ul, .yui3-aclist-list ul{
			list-style: none;
		}
		
	    article li, .yui3-aclist-list li{
			display: inline-block;
		}
		
		article header ul, .yui3-aclist-list ul {
			margin: 0;
			padding: 8px 0 0;
			float: right;
		}
		
		article div.table, .yui3-aclist-list div.table{
			width: 100%;
            border-width: 0 1px 1px;
            border-style: solid;
			border-color: #fff;
			
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		
		article img, .yui3-aclist-list img {
			width: 55px;
			height: 55px;
			border: 1px solid #dfdfdf;
		}
		
            article .cell.img{
                width: 55px;
            }
        
		article .table ul, .yui3-aclist-list .table ul {
			margin: 0;
			float: left;
		}
		
		article .cell, .yui3-aclist-list .cell {
			padding: 5px;
		}
		
		article .row:hover, .yui3-aclist-item-active, .yui3-aclist-item-hover {
			background: #f3f3f3 !important;
		}
		
		article .button, .yui3-aclist-list .button {
			margin-right: 0 !important;
			float: right !important;
		}
		
		.status {
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			
			font-variant: small-caps;
			padding: 1px 5px 2px;
			text-decoration: none;
		}
		
		.private {
			color: #582323 !important;
			background: #d99191;
		}
		
		.public {
			color: #235825 !important;
			background-color: #9ed991;
		}
	    
        aside article {
            border: 0;
            background: none;
        }
        
        aside article header {
            border-top: 1px solid #d0d3da;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        
        aside article .table, aside article ul {
            border: 0;
            font-size: 0.85em;
        }
        
		aside article .cell, aside article ul li {
			padding: 5px 0;
		}
		
        aside article .row:hover{
			background: none;
		}
        
        aside article .cell.img {
            width: 50px;
        }
            aside article .cell.img img{
                width: 40px;
                height: 40px;
            }
        
        aside article a {
            text-decoration: none;
        }
        
        aside article h1 {
            font-size: 1.1em;
        }
        
        aside article ul li {
            border-bottom: 1px solid #e7e7e7;
        }
        
        aside article ul li a {
            display: block;
        }
    
    #copyright {
        padding: 10px 0;
        text-align: center;
    }
    
	.table, .yui3-aclist-list {
		display: table;
	}
	
	.row, .yui3-aclist-item{
		display: table-row;
	}
	
	.cell {
		display: table-cell;
		vertical-align: middle;
	}
	
	.button {
		padding: 8px;
		width: 80px;
		color: #9d9d9d !important;
		text-decoration: none;
		border: 1px solid #c2c2c2;
		text-align: center;
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
	}
	
	  .button:active {
		background: #e5e5e5; /* Old browsers */
		background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* W3C */
	  }
	
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 



}
