#main{
	margin-top: 9px;
}

.addItem {
  position: relative;
}

.addItem input#item_name, .addItem input#case_title{
  padding-left: 48px;
}

.addItem input#item_url {
  padding: 12px 100px 11px 58px;
}

.addItem label {
  position: absolute;
  padding: 12px;
}

.addItem label[for=item_name], .addItem label[for=case_title] {
  border: 1px solid #97c66f;
  line-height: 11px;
  color: #fff;
  font-size: 1.5em;
  
  background: #cdeb8e; /* Old browsers */
  background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* W3C */
}

.addItem label[for=item_url] {
  border-right: 1px solid #ccc;
  color: #ccc;
}

.addItem .urlcont {
  position: absolute;
  top: 58px;
  right: 8px;
}

  .urlcont li {
    display: inline-block;
  }
  
    #url_preview {
      background: #f3f3f3;
      position: relative;
    }
    
    #img_controls {
      margin: 0;
      padding: 1px;
      width: 100px;
      list-style: none;
      color: #ccc;
      position: absolute;
      top: 0;
      background: rgba(0, 0, 0, .5);
      -webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
      
    }
    
      #img_controls li {
        cursor: pointer;
      }
      
      #img_controls li img {
        width: 10px;
        height: 10px;
      }
  
#offscreen_div {position:absolute; left:-5000px; width:1px; overflow:hidden; }

#img_selector > img {
  max-width:100px;
  max-height:100px;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  display:none;
  min-width: 100px;
}

.wrap {
  width: 79%;
}