#main{
	margin-top: 9px;
	position: relative;
}

.addItem {
  position: relative;
}

input#new_item, input#product_name, .addItem input#case_title{
  padding-left: 48px;
}

.addItem input#product_url {
  padding: 12px 100px 11px 58px;
}

.addItem input#company_name {
  padding-left: 90px;
  padding-bottom: 11px;
}

label {
  position: absolute;
  padding: 12px;
}

.privacy {
  width: 95px;
}

label[for=item_privacy] {
  padding: 0 0 0 5px;
}

label[for=new_item], label[for=product_name], .addItem label[for=case_title] {
  border: 1px solid #97c66f;
  line-height: 11px;
  color: #fff;
  font-size: 1.5em;
  
  background: #cdeb8e; /* Old browsers */
  background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* W3C */
}

.addItem label[for=product_url], .addItem label[for=company_name] {
  border-right: 1px solid #ccc;
  color: #ccc;
}

.addItem .urlcont {
  position: absolute;
  top: 58px;
  right: 8px;
}

  .prod-img {
    display: inline-block;
    background: #f3f3f3;
      position: relative;
  }
    
    #img-controls {
      margin: 0;
      padding: 1px;
      width: 100px;
      list-style: none;
      color: #ccc;
      position: absolute;
      top: 0;
      background: rgba(0, 0, 0, .5);
      -webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
      
    }
    
      #img-controls li {
        cursor: pointer;
      }
      
      #img-controls li img {
        width: 10px;
        height: 10px;
      }
  
#offscreen_div {position:absolute; left:-5000px; width:1px; overflow:hidden; }

#img_selector > img {
  max-width:100px;
  max-height:100px;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  display:none;
  min-width: 100px;
}

.wrap {
  width: 76%;
}

.googlesearch {
  position: absolute;
  top: 109px;
  right: 8px;
  text-decoration: underline !important;
}