%h1 This is your overview
%p
  You can describe what happened and even share it with your friends! This is just a
  %em sample
  you can edit this just by clicking the "Edit overview" in the top right of this section.
%h2 Stuck for ideas?
%ul
  %li What was the problem?
  %li What could the company do to resolve your problem?
%h3 Sharing it!
%p
  You also have the option of sharing your case with your social networks! Simply edit your
  %em visibility
  settings.
%h3 Add documents and photos
You can also attach any documents and photos involved in your case.

