:plain
  $('#item_product_name').autocomplete({
      source: function(request, response) {
          $.getJSON('#{search_products_path}', {query: request.term}, function(json){
            var json = $.map(json, function(row){
              return $.extend({label: row.name}, row);
            });

            response(json)
          });
      },
      select: function(event, ui){console.log(ui.item.company_id);
          if (ui.item.company_id != false) {
            $('#item_company_name').hide();

            $('#case_product_id').val(ui.item.id);
            $('#case_company_id').val(ui.item.company_id);
          }
      }
  });


  $('#item_company_name').autocomplete({
      source: function(request, response) {
          $.getJSON('#{search_companies_path}', {query: request.term}, function(json){
            response(json);
          });
      },
      select: function(event, ui){
          $('#case_company_id').val(ui.item.id);
      }
  });

  $('#item_product_name').change(function(){
    $('#case_product_id').val('');
    $('#item_company_name').show();
  });

  $('#item_company_name').change(function(){
    $('#case_company_id').val('');
  });
