= label_tag :new_case, '+'
= text_field_tag :new_case, nil, :placeholder => "What's your issue?"

- content_for :javascripts do
  :javascript
    $(document).ready(function(){
      $('#new_case').click(function(){
        $.facebox({
          ajax: "#{new_case_path}"
        });
      });
    });
