// API located at: http://compass-style.org/docs/reference/compass/
// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset
// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:
 
$blueprint-grid-columns : 26
$blueprint-grid-width   : 30px
$blueprint-grid-margin  : 10px
   
// If you change your grid column dimensions
// you can make a new grid background image from the command line like this:
// compass grid-img 30+10x16
@import "blueprint"
// Import the non-default scaffolding module.
@import "blueprint/scaffolding"
 
// Generate the blueprint framework according to your configuration:
@import "compass"
@import "compass/support"
@import "compass/css3"
@import "compass/css3/font-face"
@import "compass/css3/text-shadow"
@import "compass/typography/lists/horizontal-list"
@import "compass/typography/links"
@import "compass/utilities/tables/borders"
@import "compass/utilities/general/min"
@import "compass/typography/text/replacement"
@import "compass/typography/lists/inline-block-list"
@import "compass/layout/sticky-footer"

+blueprint
+blueprint-scaffolding

$blue: #3B5997
$left_width: 180px
$middle_width: 495px
$right_width: 245px
$container_width: 980px
$left:  $left_width
$middle: $middle_width
$right: $right_width
$table-border-color: #B3B3B3
$flash-message-height: 90px

$top_height: 42px
$nav_height: 57px
$user_height: 70px

$middle_columns: 25
$right_columns: $blueprint_grid_columns - $middle_columns - 1

//$blueprint-container-size: $container_width

@mixin horizontal-center($width: 500px) 
  display: block
  width: $width
  margin: 0 auto

// Font declarations

+font-face("fairy-dust", font-files('../fonts/FairyDustB.ttf', truetype))
+font-face("twilight-new-moon", font-files('../fonts/twilight-new-moon.ttf', truetype))
//+sticky-footer(70px, '#container', '#root_footer', 'footer')

header, nav, footer 
  +column($blueprint_grid_columns, true)
body
  +background-image(linear-gradient(top, white, #DEEFFF 33%))
  +min-height(900px)
  background-repeat: no-repeat

#top
  position: fixed
  width: 100%
  +min-height($top_height)
  +background-image(linear-gradient(center top, #333333, #111111))

  #logo
    a
      text-decoration: none
      color: white
    position: absolute
    left: 460px
    font-family: "fairy-dust"
    font-size: 34px
    font-weight: 600


#container
  +container
  header
    +last
    +min-height($flash-message-height)
    .notice, .alert, .warning, .error
      +horizontal-center(350px)
      margin-left: 300px
      +prepend-top(12px)
      text-align: center

  #main  
    +min-height(650px)
    +prepend-top($top-height + 30px)
    #interactions
      margin-left: 15px
      +column(14)
      +min-height(650px)
      +display-box
      +border-radius(7px)
      +box-shadow
      background-color: white
      margin-right: -5px
      #new_interaction_box
        #prompt_phrase
          +last
          font-size: 18px
          padding-left: 40px
          padding-top: 20px
          padding-bottom: 40px

        #interaction_input
          +last
          textarea
            +horizontal-center
            width: 482px
            height: 25px
            margin-bottom: 30px
      #interactions_feed
        table
          tbody tr
            +min-height(80px)
            td
              border-bottom: 1px solid $table-border-color
              

    #items
      +min-height(650px)
      +column(11.5, true)
      +display-box
      +border-right-radius(5px)
      +box-shadow
      +background-image(linear-gradient(left top, white, #dddddd))

      #items_feed
      #items_search

.notice
  background-color: #e6efc2
  border: 2px solid #dddddd
  color: #264409
  border-color: #c6d880

#facebox .content
  padding: 30px
  background-color: white
