%ul.action-menu
  %li= link_to "Everyone", people_path, :class => ('js-pjax ' << active_if_current(people_path))
  %li= link_to "Following", following_path, :class => ('js-pjax ' << active_if_current(following_path))
  %li= link_to "Find People", ""
