%article#recommendedOffers
  %header.clearfix
    %h1 Recommended Offers
  .table
    .row
      .cell.img
        = image_tag("http://uploadir.com/u/382cxj")
      .cell
        = link_to 'Music Mayhem'
        is offering 50&#37; off 
        = link_to 'G7th Performance Guitar Capos'
