%article#liveFeed
  %header.clearfix
    %h1 Your Feed
  .table
    .row
      .cell.img
        = image_tag("http://uploadir.com/u/z71rp7")
      .cell
        = link_to 'Geoffrey Chong' 
        just added
        = link_to 'G7th Performance Guitar Capos to their Wishlist'
        &#46;
