!!!
/ saved from url=(0044)http://ohsogeoff.com/sandbox/prizzm/app.html
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Prizzm - Your voice about your products
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "http://ohsogeoff.com/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "http://ohsogeoff.com/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "http://ohsogeoff.com/sandbox/prizzm/css/boilerplate.css?v=2", :rel => "stylesheet"}/
    %link{:href => "http://ohsogeoff.com/sandbox/prizzm/css/960.css?v=2", :rel => "stylesheet"}/
    %link{:href => "http://ohsogeoff.com/sandbox/prizzm/css/fonts.css?v=2", :rel => "stylesheet"}/
    %link{:href => "http://ohsogeoff.com/sandbox/prizzm/css/main.css?v=2", :rel => "stylesheet"}/
    %link{:href => "http://ohsogeoff.com/sandbox/prizzm/css/app.css?v=2", :rel => "stylesheet"}/
    %link{:href => "http://ohsogeoff.com/sandbox/prizzm/css/dashboard.css?v=2", :rel => "stylesheet"}/
    %script{:src => "./Prizzm - Your voice about your products_files/modernizr-1.6.min.js"}
  %body
    #prizzmbar
    #hbar
    #container.container_24
      %header
      %h1.grid_4
        %a{:href => "http://ohsogeoff.com/"} prizzm
      %nav.grid_9
      %ul
        %li
          %a{:href => ""} Dashboard
        %li
          %a{:href => ""} Browse
        %li
          %a{:href => ""} Profile
        %li
          %a{:href => ""} Account
      %form#search.grid_11{:action => ""}
        %input{:placeholder => "Find products and companies", :type => "text"}/
        %input{:type => "submit", :value => ""}/
      #main
        %header
        %h2.grid_5 Dashboard
        .grid_19
          .buttons
            %a.button.add{:href => ""} Write a review
        #content.grid_19
          #helptool
            %ul
              %li
                %h3 Find brands
                Find the brands of things you own.
              %li
                %h3 Review their products
                Give an honest review about your experience with their products.
              %li
                %h3 Share them!
                Help the community by sharing your reviews.
            .close
          %section#tr-br.grid_18
          %h3
            %span trending brands
          %ul
            %li
              %a{:href => ""}
                %img{:alt => "", :src => "./Prizzm - Your voice about your products_files/logo.gif"}/
                Byrna
            %li
              %a{:href => ""}
                %img{:alt => "", :src => "./Prizzm - Your voice about your products_files/brand.gif"}/
                Apple
            %li
              %a{:href => ""}
                %img{:alt => "", :src => "./Prizzm - Your voice about your products_files/brand(1).gif"}/
                Volkswagen
            %li
              %a{:href => ""}
                %img{:alt => "", :src => "./Prizzm - Your voice about your products_files/logo.gif"}/
                Byrna
            %li
              %a{:href => ""}
                %img{:alt => "", :src => "./Prizzm - Your voice about your products_files/brand.gif"}/
                Apple
            %li
              %a{:href => ""}
                %img{:alt => "", :src => "./Prizzm - Your voice about your products_files/brand(1).gif"}/
                Volkswagen
            %li
              %a{:href => ""}
                %img{:alt => "", :src => "./Prizzm - Your voice about your products_files/brand.gif"}/
                Apple
            %li
              %a{:href => ""}
                %img{:alt => "", :src => "./Prizzm - Your voice about your products_files/brand(1).gif"}/
                Volkswagen
          %a.fr{:href => ""} View all
          .clear
          .clear
          %section#la-rev.grid_9
          %h3
            %span latest reviews
          %ul
            %li
              %img{:alt => "", :src => "./Prizzm - Your voice about your products_files/me.png"}/
              .fl
                %h4 G7th Performance Guitar Capos
                %p
                  Professional product designer, and avid guitarist Nick Campling designed the G7th guitar capos after years of struggling with the existing capos, which can often...
                  = succeed "." do
                    %a{:href => ""} Read more
                .rating
              .clear
            %li
              %img{:alt => "", :src => "./Prizzm - Your voice about your products_files/me.png"}/
              .fl
                %h4 G7th Performance Guitar Capos
                %p
                  Professional product designer, and avid guitarist Nick Campling designed the G7th guitar capos after years of struggling with the existing capos, which can often...
                  = succeed "." do
                    %a{:href => ""} Read more
                .rating
              .clear
            %li
              %img{:alt => "", :src => "./Prizzm - Your voice about your products_files/me.png"}/
              .fl
                %h4 G7th Performance Guitar Capos
                %p
                  Professional product designer, and avid guitarist Nick Campling designed the G7th guitar capos after years of struggling with the existing capos, which can often...
                  = succeed "." do
                    %a{:href => ""} Read more
                .rating
              .clear
          %section#mo-re-ca.grid_9
          %h3
            %span most recent cases
          %ul
            %li
              %a{:href => ""}
                %img.fl{:alt => "", :src => ""}/
              .desc.fl
              .clear
        %aside.grid_5
          %article
        %h4.fl People following
        %a.small.fr{:href => ""} View all
        .clear
        .table
          .row
            .cell.img
            .cell
              %a{:href => ""} Geoffrey Chong
              is following Bryna.
          .row
            .cell.img
            .cell
              %a{:href => ""} Geoffrey Chong
              is following Bryna.
          .row
            .cell.img
            .cell
              %a{:href => ""} Geoffrey Chong
              is following Bryna.
          .row
            .cell.img
            .cell
              %a{:href => ""} Geoffrey Chong
              is following Bryna.
        %article
        %h4.fl Products following
        %a.small.fr{:href => ""} View all
        .clear
        .table
          .row
            .cell.img
            .cell
              %a{:href => ""} Charles Oppenheimer
              has commented on a
              %a{:href => ""} Bryna Nicole bag
          .row
            .cell.img
            .cell
              %a{:href => ""} Charles Oppenheimer
              has commented on a
              %a{:href => ""} Bryna Nicole bag
          .row
            .cell.img
            .cell
              %a{:href => ""} Charles Oppenheimer
              has commented on a
              %a{:href => ""} Bryna Nicole bag
        %article
        %h4.fl Brands following
        %a.small.fr{:href => ""} View all
        .clear
        .table
          .row
            .cell.img
            .cell
              %a{:href => ""} Bryna
              is having a sale!
          .row
            .cell.img
            .cell
              %a{:href => ""} Geoffrey Chong
              opened a
              %a{:href => ""} new case
              with Bryna
          .row
            .cell.img
            .cell
              %a{:href => ""} Bryna
              is having a sale!
          .row
            .cell.img
            .cell
              %a{:href => ""} Geoffrey Chong
              opened a
              %a{:href => ""} new case
              with Bryna
      .clear
    / end of #container
    %footer
    %ul.container_24
      %li.grid_4
        %h5 Prizzm
        %ul
          %li
            %a{:href => ""} Home
          %li
            %a{:href => ""} Why Prizzm?
          %li
            %a{:href => ""} Tour
          %li
            %a.alt{:href => ""} Start adding things!
          %li
            %a{:href => ""} Login
      %li.grid_4
        %h5 Company
        %ul
          %li
            %a{:href => ""} About us
          %li
            %a{:href => ""} Customers
          %li
            %a{:href => ""} Careers
      %li.grid_4
        %h5 Support
        %ul
          %li
            %a{:href => ""} Help centre
          %li
            %a{:href => ""} API
      %li.grid_4
        %h5 Partners
        %ul
          %li Coming soon
      %li.grid_4
        %h5 Get in touch
        %ul
          %li
            %a{:href => ""}
              42 Golden Gate Bridge
              %br>/
              San Francisco
          %li
            %a{:href => ""} +90 000 000
          %li
            %a{:href => ""} contact@prizzm.com
      %li.grid_4
        %h5 Blog
        %ul
          %li Maybe a blog?
    .clear
    #copyright
      Prizzm.com © . Prizzm LLC, all rights reserved .
      %a{:href => ""} Terms
      \&amp;
      %a{:href => ""} Privacy
    .clear
    #hiddenlpsubmitdiv{:style => "display: none; "}
    :javascript
      try{for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ d.innerText=i; } } d.dispatchEvent(customEvent); form.lpsubmitorig2(); } } }}catch(e){}