- content_for :user_header do
  #user_info
    .user_name #{@user.name}

#items
  #items_feed
    .applet-title
      Things I Have
    #add-item
      .add-item-text Add Item
      = link_to image_tag('add.png', :id => 'add-item-button'), new_user_item_path(@user), :rel => 'facebox', :id => 'add-item-link', :title => 'Add an item'
    %table.items
      %thead
        %tr
          %th 
          %th Name
          %th Brand
          %th Review
          %th Rating
          %th Have/Want
      %tbody
        = render :partial => "home/item_listing", :collection => @user.owned_items.recently_updated, :as => :item
        = render :partial => "home/item_listing", :collection => @user.wanted_items.recently_updated, :as => :item

