<div id="invitations" class="table">
<%= form_for User.new, :url => user_invitation_path, :html => { :id => "email-invite" }, :remote => true do |f| %>

  <ul id="emails-list">
    <li><%= f.text_field :email, :name => "user[email][]" %></li>
  </ul>
  <div class="clear"></div>
  
  <%= f.submit "Invite", :class => "blue button fl" %>
  <div class="loading hidden fr"></div>
  <a href="" id="add-email" class="fl">Add more</a>
  <div class="clear"></div>
<% end %>
</div>
