apps:
  # map the environments to your desired heroku app names
  # for example,
  #   production: awesomeapp
  # would create the RACK_ENV=production
  # and deploy to http://awesomeapp.heroku.com
  production: prizzm-production
  staging: prizzm-staging
  demo: prizzm-demo
  development: prizzm-development

stacks:
  # choose the stacks you want to use for each app.
  # the all: setting sets the default
  all: bamboo-mri-1.9.2
 
config:
  # choose the configuration settings for all environments
  all:
    BUNDLE_WITHOUT: "development:test"
    RACK_ENV: 'production'
    HOPTOAD_API_KEY: <%= ENV['HOPTOAD_API_KEY'] %>
    WEBTHUMB_API_KEY: <%= ENV['WEBTHUMB_API_KEY'] %>
    WEBTHUMB_USER_ID: <%= ENV['WEBTHUMB_USER_ID'] %>
    SIMPLEWORKER_ACCESS_KEY: <%= ENV['SIMPLEWORKER_ACCESS_KEY'] %>
    SIMPLEWORKER_SECRET_KEY: <%= ENV['SIMPLEWORKER_SECRET_KEY'] %>

  # you can also override configuration settings for each environment
  production:
    PRIZZM_S3_ACCESS_KEY_ID: <%= ENV['PRODUCTION_PRIZZM_S3_ACCESS_KEY_ID'] %>
    PRIZZM_S3_SECRET_ACCESS_KEY: <%= ENV["PRODUCTION_PRIZZM_S3_SECRET_ACCESS_KEY"] %>
    FACEBOOK_APP_ID: <%= ENV['PRODUCTION_FACEBOOK_APP_ID'] %> 
    FACEBOOK_APP_SECRET:  <%= ENV['PRODUCTION_FACEBOOK_APP_SECRET'] %>
    TWITTER_CONSUMER_SECRET:  <%= ENV['PRODUCTION_TWITTER_CONSUMER_SECRET'] %>
    TWITTER_CONSUMER_KEY: <%= ENV['PRODUCTION_TWITTER_CONSUMER_KEY'] %>
    ASSET_HOST: 'assets.prizzm.com'
    FACEBOOK_PERMISSIONS:
  staging:
    PRIZZM_S3_ACCESS_KEY_ID: <%= ENV['STAGING_PRIZZM_S3_ACCESS_KEY_ID'] %>
    PRIZZM_S3_SECRET_ACCESS_KEY: <%= ENV["STAGING_PRIZZM_S3_SECRET_ACCESS_KEY"] %>
    FACEBOOK_APP_ID: <%= ENV['STAGING_FACEBOOK_APP_ID'] %> 
    FACEBOOK_APP_SECRET:  <%= ENV['STAGING_FACEBOOK_APP_SECRET'] %>
    TWITTER_CONSUMER_SECRET:  <%= ENV['STAGING_TWITTER_CONSUMER_SECRET'] %>
    TWITTER_CONSUMER_KEY: <%= ENV['STAGING_TWITTER_CONSUMER_KEY'] %>
    ASSET_HOST: 'assets-staging.prizzm.com'
    FACEBOOK_PERMISSIONS:
  development:
    PRIZZM_S3_ACCESS_KEY_ID: <%= ENV['DEVELOPMENT_PRIZZM_S3_ACCESS_KEY_ID'] %>
    PRIZZM_S3_SECRET_ACCESS_KEY: <%= ENV["DEVELOPMENT_PRIZZM_S3_SECRET_ACCESS_KEY"] %>
    FACEBOOK_APP_ID: <%= ENV['DEVELOPMENT_FACEBOOK_APP_ID'] %> 
    FACEBOOK_APP_SECRET:  <%= ENV['DEVELOPMENT_FACEBOOK_APP_SECRET'] %>
    TWITTER_CONSUMER_SECRET: <%= ENV['DEVELOPMENT_TWITTER_CONSUMER_SECRET'] %>
    TWITTER_CONSUMER_KEY: <%= ENV['DEVELOPMENT_TWITTER_CONSUMER_KEY'] %>
    ASSET_HOST: 'assets-development.prizzm.com'
    FACEBOOK_PERMISSIONS:
  demo:
    PRIZZM_S3_ACCESS_KEY_ID: <%= ENV['DEMO_PRIZZM_S3_ACCESS_KEY_ID'] %>
    PRIZZM_S3_SECRET_ACCESS_KEY: <%= ENV["DEMO_PRIZZM_S3_SECRET_ACCESS_KEY"] %>
    FACEBOOK_APP_ID: <%= ENV['DEMO_FACEBOOK_APP_ID'] %> 
    FACEBOOK_APP_SECRET:  <%= ENV['DEMO_FACEBOOK_APP_SECRET'] %>
    TWITTER_CONSUMER_SECRET:  <%= ENV['DEMO_TWITTER_CONSUMER_SECRET'] %>
    TWITTER_CONSUMER_KEY: <%= ENV['DEMO_TWITTER_CONSUMER_KEY'] %>
    ASSET_HOST: 'assets-demo.prizzm.com'
    FACEBOOK_PERMISSIONS:

collaborators:
  # Be sure to add yourself as a collaborator, otherwise your
  # access to the app will be revoked.
  all:
    - "sid137@gmail.com"
    - "ndgiang84@gmail.com"
    - "tkthompson@gmail.com"
    - "ohsogeoff@gmail.com"
    - "choppen5@yahoo.com"

domains:
  production:
    - "prizzm.com"
    - "www.prizzm.com"
    - "beta.prizzm.com"
  staging:
    - "staging.prizzm.com"
  demo:
    - "demo.prizzm.com"
  development:
    - "development.prizzm.com"

addons:
  all:
    - amazon_rds
    - blitz
    - cloudmailin
    - custom_domains:basic
    # add any other addons here
    - logging:expanded
    - mongolab:starter
    - newrelic:standard
    - releases:advanced
    - sendgrid:free
    - shared-database:5mb
    - simple_worker
    - stillalive:basic
    - cron:daily
    - ssl:piggyback
