apps:
  # map the environments to your desired heroku app names
  # for example,
  #   production: awesomeapp
  # would create the RACK_ENV=production
  # and deploy to http://awesomeapp.heroku.com
  production: prizzm-production
  staging: prizzm-staging
  demo: prizzm-demo
  beta: prizzm-beta
  development: prizzm-development

stacks:
  # choose the stacks you want to use for each app.
  # the all: setting sets the default
  all: bamboo-mri-1.9.2
 
config:
  # choose the configuration settings for all environments
  all:
    BUNDLE_WITHOUT: "development:test"
    RACK_ENV: 'production'
    LOG_LEVEL: 'DEBUG'
#    HEROKU_USER: <%= ENV['HEROKU_USER'] %>
#    HEROKU_API_KEY: <%= ENV['HEROKU_API_KEY'] %>
#    AWS_SNS_HEROKU_WORKERS: <%= ENV['AWS_SNS_HEROKU_WORKERS'] %>

  # you can also override configuration settings for each environment
  production:
    PRIZZM_S3_ACCESS_KEY_ID: <%= ENV['PRODUCTION_PRIZZM_S3_ACCESS_KEY_ID'] %>
    PRIZZM_S3_SECRET_ACCESS_KEY: <%= ENV["PRODUCTION_PRIZZM_S3_SECRET_ACCESS_KEY"] %>
    FACEBOOK_APP_ID: <%= ENV['PRODUCTION_FACEBOOK_APP_ID'] %> 
    FACEBOOK_APP_SECRET:  <%= ENV['PRODUCTION_FACEBOOK_APP_SECRET'] %>
    TWITTER_CONSUMER_SECRET:  <%= ENV['PRODUCTION_TWITTER_CONSUMER_SECRET'] %>
    TWITTER_CONSUMER_KEY: <%= ENV['PRODUCTION_TWITTER_CONSUMER_KEY'] %>
    S3_ASSET_HOST: 'assets-production.prizzm.com'
    HEROKU_APP: 'prizzm-production'
    FACEBOOK_PERMISSIONS:
  staging:
    PRIZZM_S3_ACCESS_KEY_ID: <%= ENV['STAGING_PRIZZM_S3_ACCESS_KEY_ID'] %>
    PRIZZM_S3_SECRET_ACCESS_KEY: <%= ENV["STAGING_PRIZZM_S3_SECRET_ACCESS_KEY"] %>
    FACEBOOK_APP_ID: <%= ENV['STAGING_FACEBOOK_APP_ID'] %> 
    FACEBOOK_APP_SECRET:  <%= ENV['STAGING_FACEBOOK_APP_SECRET'] %>
    TWITTER_CONSUMER_SECRET:  <%= ENV['STAGING_TWITTER_CONSUMER_SECRET'] %>
    TWITTER_CONSUMER_KEY: <%= ENV['STAGING_TWITTER_CONSUMER_KEY'] %>
    S3_ASSET_HOST: 'assets-staging.prizzm.com'
    HEROKU_APP: 'prizzm-staging'
    FACEBOOK_PERMISSIONS:
  development:
    PRIZZM_S3_ACCESS_KEY_ID: <%= ENV['DEVELOPMENT_PRIZZM_S3_ACCESS_KEY_ID'] %>
    PRIZZM_S3_SECRET_ACCESS_KEY: <%= ENV["DEVELOPMENT_PRIZZM_S3_SECRET_ACCESS_KEY"] %>
    FACEBOOK_APP_ID: <%= ENV['DEVELOPMENT_FACEBOOK_APP_ID'] %> 
    FACEBOOK_APP_SECRET:  <%= ENV['DEVELOPMENT_FACEBOOK_APP_SECRET'] %>
    TWITTER_CONSUMER_SECRET: <%= ENV['DEVELOPMENT_TWITTER_CONSUMER_SECRET'] %>
    TWITTER_CONSUMER_KEY: <%= ENV['DEVELOPMENT_TWITTER_CONSUMER_KEY'] %>
    S3_ASSET_HOST: 'assets-development.prizzm.com'
    HEROKU_APP: 'prizzm-development'
    FACEBOOK_PERMISSIONS:
  beta:
    PRIZZM_S3_ACCESS_KEY_ID: <%= ENV['DEVELOPMENT_PRIZZM_S3_ACCESS_KEY_ID'] %>
    PRIZZM_S3_SECRET_ACCESS_KEY: <%= ENV["DEVELOPMENT_PRIZZM_S3_SECRET_ACCESS_KEY"] %>
    FACEBOOK_APP_ID: <%= ENV['DEVELOPMENT_FACEBOOK_APP_ID'] %> 
    FACEBOOK_APP_SECRET:  <%= ENV['DEVELOPMENT_FACEBOOK_APP_SECRET'] %>
    TWITTER_CONSUMER_SECRET: <%= ENV['DEVELOPMENT_TWITTER_CONSUMER_SECRET'] %>
    TWITTER_CONSUMER_KEY: <%= ENV['DEVELOPMENT_TWITTER_CONSUMER_KEY'] %>
    S3_ASSET_HOST: 'assets-beta.prizzm.com'
    HEROKU_APP: 'prizzm-beta'
    FACEBOOK_PERMISSIONS:
  demo:
    PRIZZM_S3_ACCESS_KEY_ID: <%= ENV['DEMO_PRIZZM_S3_ACCESS_KEY_ID'] %>
    PRIZZM_S3_SECRET_ACCESS_KEY: <%= ENV["DEMO_PRIZZM_S3_SECRET_ACCESS_KEY"] %>
    FACEBOOK_APP_ID: <%= ENV['DEMO_FACEBOOK_APP_ID'] %> 
    FACEBOOK_APP_SECRET:  <%= ENV['DEMO_FACEBOOK_APP_SECRET'] %>
    TWITTER_CONSUMER_SECRET:  <%= ENV['DEMO_TWITTER_CONSUMER_SECRET'] %>
    TWITTER_CONSUMER_KEY: <%= ENV['DEMO_TWITTER_CONSUMER_KEY'] %>
    S3_ASSET_HOST: 'assets-demo.prizzm.com'
    HEROKU_APP: 'prizzm-demo'
    FACEBOOK_PERMISSIONS:

collaborators:
  # Be sure to add yourself as a collaborator, otherwise your
  # access to the app will be revoked.
  all:
    - "sid137@gmail.com"
    - "ohsogeoff@gmail.com"
    - "ndgiang84@gmail.com"
    - "tkthompson@gmail.com"
    - "choppen5@yahoo.com"
    - "amitamb@gmail.com"
    - "iszak.bryan@gmail.com"
    - "jony.malhotra82@gmail.com"

domains:
  production:
#    - "prizzm.com"
#    - "www.prizzm.com"
  beta:
    - "beta.prizzm.com"
  staging:
    - "staging.prizzm.com"
  demo:
    - "demo.prizzm.com"
  development:
    - "development.prizzm.com"

addons:
  all:
    - custom_domains:basic
    - cron:daily
    - logging:expanded
    - mongolab:starter
    - newrelic:standard
    - redistogo:nano
    - sendgrid:free
    - shared-database:5mb
    - stillalive:basic
    - ssl:piggyback
    - pgbackups
    #- releases:advanced
  development:
    - hoptoad:basic
  beta:
    - hoptoad:basic

