#content.grid_24
  %header
    %h1.fl Brands
    .brands-fil.buttons
    .clear
  
  %ul.table.data-list
    %li.row.header
      .cell.img
      .cell Name
      .cell 
      .cell 
    %li.row
      .cell Bryna Nicole
      .cell Bags
      .cell 
      .cell.buttons
        = link_to "contact", "", :class => "button call"
        = link_to "edit", "", :class => "button"
        .clear