<h2>Forgot your password?</h2>

<%= form_for(@user, :as => "user", :url => user_password_path, :html => { :class => "forgform", :method => :post }) do |f| %>
  <%= f.email_field :email, :placeholder => "email" %>
  <%= f.submit "Send me reset password instructions" %>
<% end %>
