:plain
  $('##{object_type taggable}_tag_list').autoSuggest(['have', 'want'], {
      asHtmlID: 'tag_list',
      startText: '+ Add tags',
      neverSubmit: true,
      preFill: '#{taggable.tag_list.join(',')}',
      selectionAdded: function (element) {
        var $element = $(element);

        var exists = $('.as-selection-item').filter(function(){
          return ($.trim($(this).text()) == $.trim($element.text()));
        });

        if (exists.length > 1) {
          $element.remove();
        }
      },

      selectionRemoved: function (element) {
          element.fadeOut('fast', function () {
              element.remove();
          });
      }
  });
