Ask your friends on your social network for some advice!
= form_tag publish_advice_path(@item) do
  = text_area_tag :message, "Should I buy this thing?"
  .clear
  %ul.social
    %li Ask your 
    %li.button.twitter
      twitter
      .cancel
      /= f.check_box :shared_twitter, :class => 'shared_checkbox', :id => 'interaction_shared_tt', :checked => "true"
    %li.button.fb
      facebook
      .cancel
      /= f.check_box :shared_facebook, :class => 'shared_checkbox', :id => 'interaction_shared_fb', :checked => "true"
  .clear
  = submit_tag "Ask", :class => "button"
  .clear
