- if @addresses.count > 0
  %dd
    - @addresses.each do |address|
      %dt{:style => 'margin-top: 10px;'}
        %strong= address.address_type.humanize
      %dd{:style => 'overflow: hidden'}
        %span{:style => 'display: block', :title => address.address}= address.address
        %a{:class => "button #{Company::ADD_CLASS[address.address_type]}", :style => 'display: block'}= Company::ADD_TEXT[address.address_type]
- else
  No company contacts

%a{ :class => 'button contact add' } Add contact
.clear
