:plain
  (function ($) {
      $.fn.autocompleteCompany = function (options) {
          this.each(function () {
              var settings = {
                  source: function (request, response) {
                      $.getJSON('#{search_companies_path}', {
                          query: request.term
                      }, function (json) {
                          var data = $.map(json, function (element, index) {
                              return $.extend({
                                  label: element.name
                              }, element);
                          });
                          response(data);
                      });
                  }
              };
              if (options) {
                  $.extend(settings, options);
              }
              $(this).autocomplete(settings);
          });
      };
  })(jQuery);
