%h1 This is your review
%p
  You can express your view on this product and even share it with your friends! This is just a
  %em sample
  you can edit this just by clicking the "Edit review" in the top right of this section.
%h2 Stuck for ideas?
%ul
  %li Did you like this product?
  %li What did you like or dislike about it?
  %li Would you buy more products like this from Bryna?
  %li What do you recommend for people who want this product?
%h3 Sharing it!
%p
  You also have the option of sharing your review with your social networks! Simply edit your
  %em visibility
  settings.
%h3 Add photo's
Want to show people how the bag looks on you? Its easy to drag and drop to upload your photos.
