:plain
  // Image fetching code
  // TODO: Accept locals to make it modular
  var image_elems = [];
  
  var current_image_indx = null;
  var total_images = 0;
  var waittimeout_timeout_id = null;

  function select_image(indx){
    current_image_indx = indx;
    $("#img_selector img").css({ "display" : "none"});
    var current_img = $("#img_selector img:nth-child(" + (current_image_indx + 1) + ")");
    current_img.css({"display" : "block"});
    $("input#item_image_url").val(current_img.attr("src"));
  }

  function toggle_navigation(){
    if (current_image_indx + 1 < total_images){
      $("#next_image").removeAttr('disabled');
    }
    else
    {
      $("#next_image").attr('disabled', 'disabled');
    }
    if (current_image_indx > 0){
      $("#prev_image").removeAttr('disabled');
    }
    else
    {
      $("#prev_image").attr('disabled', 'disabled');
    }
  }
  
  function clear_images(){
    $("#img_selector").html("");
  }
  
  function hide_all(){
    //$("#img_selector_parent").css({ 'display' : 'none' });
    $("#img_selector").html("");
  }

  function reset_all(){
    current_image_indx = null;
    total_images = 0;

    if (waittimeout_timeout_id){
      clearTimeout(waittimeout_timeout_id);
    }

    waittimeout_timeout_id = null;

    $("#img_selector_parent").css({ "display" : "block" });
    $("#img_selector").html('#{ image_tag 'loading.gif', :style => 'display:block;' }');

    toggle_navigation();
  }
  
  function append_image(image_elem){
    if (current_image_indx == null){
      $("#img_selector").html("");
    }
    image_elem.appendTo("#img_selector");
    total_images++;
    if ( current_image_indx == null ){
      select_image(0);
    }

    toggle_navigation();
  }

  function load_images(images){
    $("#img_selector").html('#{ image_tag 'loading.gif', :style => 'display:block;' }');
    
    if (images.length == 0){
      hide_all();
    }
    else
    {
      waittimeout_timeout_id = setTimeout(function(){
        // if no image appended after 5 seconds hide it
        if (!total_images || total_images <= 0){
          hide_all();
        }
        waittimeout_timeout_id = null;
      }, 5000);
    }
    
    for (var image in images){
      var new_img = $("<img src='"+ images[image] +"' />");
      new_img.appendTo("#offscreen_div");
      new_img.load(function(){
        if ($(this).width() > 50 && $(this).height() > 50){
          append_image($(this));
        }
      });
    }
  }

  $("#prev_image").click(function(){
    select_image((current_image_indx - 1 + total_images) % total_images);
    toggle_navigation();
    return false;
  });

  $("#next_image").click(function(){
    select_image((current_image_indx + 1) % total_images);
    toggle_navigation();
    return false;
  });
  
  var url_re = /(?:(?:https?):\/\/|[-A-Z0-9]+\.)(?:\([-A-Z0-9+&@#\/%=~_|$?!:;,.]*\)|[-A-Z0-9+&@#\/%=~_|$?!:;,.])*(?:\([-A-Z0-9+&@#\/%=~_|$?!:;,.]*\)|[A-Z0-9+&@#\/%=~_|$])/i;
  var last_processed_url = null;
  
  function process_url(){
  
    if ( $("input#item_url").attr('readonly') ){
      return;
    }

    var matches = $("input#item_url").val().match(url_re);

    if (!matches) {
      if (last_processed_url){
        hide_all();
      }
      return;
    }

    var url = matches[0];
    
    if (last_processed_url && last_processed_url == url){
      return;
    }
    
    last_processed_url = url;
    
    reset_all();
    
    $.post(
        '/home/scrape',
        {url: url},  
        function(json) {
          if ( !json ) { hide_all(); } // page not found
          //alert("So this is resp " + JSON.stringify(json) );
          load_images(json.images);
          //$("#debug").val(json.doc);
          //$("#page_title").html(json.title);
          //$("#page_description").html(json.description);
        },
        "json"
    );
  }


  $('input#item_url').change(function(){
    process_url();
  });
      
  $('input#item_url').bind("paste", function(){
    setTimeout(function(){
      process_url();
    }, 50);
  });
  
  process_url();
