#current-privacy-indicator
  = @item.privacy

#item-privacy-control

:javascript
  $(document).ready(function(){
    $('#item-privacy-control').slider({
      max: 2,
      animate: "fast",
      slide: function(event, ui){
        $('#current-privacy-indicator').html(ui.value);
        var privacy = ui.value
        $.ajax({
          url: "#{url_for [current_user, @item]}",
          type: 'PUT',
          contentType: 'application/json',
          dataType: 'json',
          data: {
            privacy: privacy
          }, 
          success: function(data, testStatus, jqXHR){
            console.log(data);
            if (privacy == 1) {
              console.log('Opening post controls');
            } else {
              console.log('Closing post controls');
            }
          }
        });
      }
    });
  });

