= label_tag :new_item, '+'
= text_field_tag :new_item, nil, :placeholder => "Click to add something you have"

- content_for :javascripts do
  :javascript
    $(document).ready(function(){
      $('#new_item').click(function(){
        $.facebox({
          ajax: "#{new_item_path}"
        });
      });
    });
