- name = @user.first_name
#content.grid_15
  %h2 Recent Activity
  .clear

  %ul.activity-feed
    - events_from_user(@user).each do |event|
      %li
        = image_tag event["from"]["image"], :class => "smallthumb fl"
        .fl= format_feed_item event
        .clear
