#content.grid_16
  #helptool
    %h3 Your profile
    This profile contains all of <em>your data</em>. Everything from the things you have and want to your cases, is placed here for your convenience!
    .close

  %h2 Recent Activity

  %ul.activity-feed
    - events_from_user(@user).each do |event|
      %li
        = image_tag "me.png", :class => "smallthumb fl"
        .fl= format_feed_item event
        .clear
