#content.grid_15
  #helptool
    %ul
      %li
        = link_to new_item_path + "#create", :id => "action-button", :class => "facebox" do 
          %h3 Start adding things!
          The more you add to Prizzm the better it works.. you connect to others and companies based on your data.
      %li
        = link_to new_case_path do
          %h3 Open a Case
          A Prizzm case is your version of what's going on. And publishing is power... raise your voice if you have to. 
    .clear
    .close

  %h2 Recent Activity
  .clear

  %ul.activity-feed
    - events_from_me.each do |event|
      %li
        = image_tag event["from"]["image"], :class => "smallthumb fl"
        .fl= format_feed_item event
        .clear

- content_for :jquery do
  :javascript
    $(document).ready(function() {
      $('.close', '#helptool').bind('click', function() {
        $('#helptool').slideUp(1000);
      });
    });
