- content_for :page_style do
  = include_stylesheets :profile

= render :template => 'items/new'

- if current_user.owned_items.count > 0
  %ul.table.list-display
    = render :partial => "profile/item", :collection => current_user.owned_items
- else
  .grid_14
    = render "welcome/have"