- content_for :page_style do
  = include_stylesheets :profile

= render :template => 'items/new'

- if current_user.owned_items.count > 0
  %ul.table.list-display
    = render :partial => "profile/item", :collection => current_user.owned_items
- else
  #welcome
    You haven't added anything to your list yet!
    %p
      Click in the box and add something you have
      %br
      Electronics, Bags, Accessories... Anything!