#content.grid_15
  %h2 Recent Activity
  .clear

  %ul.activity-feed
    - events_from_me.each do |event|
      %li
        = image_tag event["from"]["image"], :class => "smallthumb fl"
        .fl= format_feed_item event
        /.fl= event.inspect
        .clear

- content_for :jquery do
  :javascript
    $(document).ready(function() {
      $('.close', '#helptool').bind('click', function() {
        $('#helptool').slideUp(1000);
      });
    });
