
Image count: #{imageable.images.count}
- imageable.images.each do |img|
  %li{:data => {:imageid => img.id}}
    %a.thumb{:href => img.image.url, :name => "", :title => ""}
      = image_tag img.image.thumb.url
      = link_to 'Delete image', image_path(object_type(imageable), imageable.id, img.id), :method => :delete
.clear


