.fl
  %h1.fl= link_to "prizzm", "http://prizzm.com"
  -#= link_to "5", "", :class => "fl usernotif"
  .clear
%nav.fr
  %ul
    %li.account
      = link_to "#", :class => "account" do
        Login
        %small &#x25BC;
      %ul.subnav
        %li= link_to "Signup for early access", "http://prizzm.com"