/= javascript_include_tag "http://yui.yahooapis.com/3.3.0/build/yui/yui-min.js"  
= include_javascripts :app
= airbrake_javascript_notifier
= yield :javascripts
= yield :jquery
//:javascript
// var token = '70bb105c2ba10c8c78e364e179e92c89';
// Twilio.Device.setup(token);
// Twilio.Device.connect();
