- link ||= 'http://development.prizzm.com'

%article.share-item
  %ul
    %li{:class => 'fb'}= link_to "", "", :type => "button", :share_url => link.html_safe, :name => "fb_share", :class => 'sn-share'
    %li{:class => 'tt'}= link_to "", "https://twitter.com/share?url=#{link}&text=Check%20this%20out&via=prizzmtwt", :class => "sn-share"
      
%script{:type => "text/javascript", :src => "https://platform.twitter.com/widgets.js"}
%script{:src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share", :type => "text/javascript"}

